Repository Flowminder/FlowKit, pull requests merged in 2018-11, with the labels that each got.

#6 Ansible playbooks
  deployment/Pipfile
  deployment/Pipfile.lock
  deployment/README.md
  deployment/provision.yml
  deployment/roles/base_packages/tasks/main.yml
  deployment/roles/docker/defaults/main.yml
  deployment/roles/docker/tasks/main.yml
  deployment/roles/user_accounts/meta/main.yml
  deployment/roles/user_accounts/tasks/main.yml
Labels: enhancement

#12 Use a flowminder logo for FlowAuth login screen. Closes #11
  flowauth/frontend/public/images/flowminder_logo.png
  flowauth/frontend/src/Login.js
Labels: enhancement

#16 Demo mode tweaks
  flowauth/Pipfile.lock
  flowauth/backend/config.py
  flowauth/backend/flowauth/admin.py
  flowauth/backend/tests/test_capability_admin.py
  flowauth/frontend/src/ServerAdminDetails.js
Labels: FlowAuth, enhancement

#19 Fix FlowAuth login failing on some browsers
  flowauth/backend/flowauth/__init__.py
  flowauth/frontend/src/util/api.js
  flowmachine/tests/test_location_area.py
Labels: FlowAuth, bug

#21 Correct references to a verify parameter to ssl_certificate
  README.md
  docs/source/README.md
Labels: bug, docs, flowclient

#27 Read SSH keys from specific file, to allow multiple keys to be added
  deployment/README.md
  deployment/roles/user_accounts/tasks/main.yml
  deployment/ssh_keys/.gitignore
  deployment/ssh_keys/README.md
Labels: deployment

#28 Use require for logo instead of static serving. Fixes #25
  flowauth/frontend/package-lock.json
  flowauth/frontend/src/Login.js
  flowauth/frontend/src/img/flowminder_logo.png
Labels: FlowAuth, bug

#36 Admin mode indicator. Closes #35
  flowauth/frontend/src/Dashboard.js
Labels: FlowAuth, enhancement

#29 Don't expose ports externally (except API) in `docker-compose.yml`
  docker-compose.yml
Labels: deployment

#34 Fix overeager server page transition
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/admin.py
  flowauth/backend/flowauth/invalid_usage.py
  flowauth/backend/flowauth/login.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/flowauth/token_management.py
  flowauth/backend/tests/test_server_admin.py
  flowauth/frontend/src/ServerAdminDetails.js
Labels: FlowAuth, bug, enhancement

#23 Nicer formatting of example notebook in the docs
  docs/pandas_to_markdown.py
  docs/source/analyst/example_usage.ipynb
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowclient/tests/unit/test_get_status.py
Labels: docs

#31 FlowAuth UI test framework
  .circleci/config.yml
  flowauth/Dockerfile
  flowauth/Pipfile
  flowauth/frontend/.gitignore
  flowauth/frontend/cypress.json
  flowauth/frontend/cypress/fixtures/example.json
  flowauth/frontend/cypress/integration/login_spec.js
  flowauth/frontend/cypress/plugins/index.js
  flowauth/frontend/cypress/support/commands.js
  flowauth/frontend/cypress/support/index.js
  flowauth/frontend/package-lock.json
  flowauth/frontend/package.json
  flowauth/frontend/src/GroupServerPermissionDetails.js
  flowauth/frontend/src/ServerAdminDetails.js
  flowauth/frontend/src/TokenDetails.js
  flowauth/start.sh
Labels: FlowAuth, enhancement, tests

#39 Add license badge for MPL 2.0
  README.md
Labels: docs

#41 Convert test_pareto to pytest form
  flowmachine/tests/test_pareto.py
Labels: FlowMachine, refactoring, tests

#43 Convert test_networkx_export to pytest
  flowmachine/tests/test_networkx_export.py
Labels: FlowMachine, refactoring, tests

#42 Convert test_output_methods to pytest
  flowmachine/tests/test_output_methods.py
  flowmachine/tests/test_to_sql.py
Labels: FlowMachine, refactoring, tests

#45 Always restart redis
  docker-compose-dev.yml
  docker-compose.yml
Labels: deployment

#51 Switch FlowDB test job to Python 3.7
  .circleci/config.yml
  flowdb/Pipfile
  flowdb/Pipfile.lock
  flowdb/tests/conftest.py
Labels: FlowDB, tests

#50 Tweak flowdb ports
  Makefile
  docker-compose-dev.yml
  flowmachine/tests/data/nerve_settings_test_file.yml
Labels: FlowDB, deployment

#53 Standardise usage of InvalidUsage error
  flowauth/backend/flowauth/admin.py
  flowauth/backend/flowauth/token_management.py
  flowauth/backend/tests/test_server_admin.py
  flowauth/backend/tests/test_token_generation.py
  flowauth/backend/tests/test_user_and_groups_admin.py
  flowauth/backend/tests/test_user_password_setting.py
Labels: FlowAuth

#52 Fix available dates
  flowmachine/flowmachine/core/connection.py
  flowmachine/tests/test_class_database.py
Labels: FlowMachine, bug

#56 Convert test_proportion_outgoing to pytest form
  flowmachine/tests/test_class_database.py
  flowmachine/tests/test_feature_collection.py
  flowmachine/tests/test_flow_division.py
  flowmachine/tests/test_join_to_location.py
  flowmachine/tests/test_location_area.py
  flowmachine/tests/test_models_pwo.py
  flowmachine/tests/test_proportion_outgoing.py
  flowmachine/tests/test_query.py
  flowmachine/tests/test_utils.py
Labels: FlowMachine, refactoring, tests

#57 Convert test_query_join to pytest
  flowmachine/tests/test_query_join.py
Labels: FlowMachine, refactoring, tests

#59 Cryptic token decoding errors
  flowapi/app/run_query.py
  flowapi/tests/unit/test_run_query.py
  flowclient/flowclient/client.py
  flowclient/tests/unit/conftest.py
  flowclient/tests/unit/test_get_status.py
  flowclient/tests/unit/test_get_url.py
  flowclient/tests/unit/test_login.py
  flowclient/tests/unit/test_post_json.py
  flowclient/tests/unit/test_queries.py
  flowclient/tests/unit/test_query_ready.py
Labels: FlowAPI, FlowClient, enhancement

#77 Convert test_subscriber_tacs to pytest
  flowmachine/tests/test_subscriber_tacs.py
Labels: FlowMachine, refactoring, tests

#55 Fix flowauth ui clutter with small browser widths
  flowauth/frontend/package-lock.json
  flowauth/frontend/src/AdminListItem.js
  flowauth/frontend/src/AggregationUnitList.js
  flowauth/frontend/src/AggregationUnitListItem.js
  flowauth/frontend/src/CapabilityList.js
  flowauth/frontend/src/CapabilityListItem.js
  flowauth/frontend/src/Listing.js
Labels: FlowAuth, bug

#58 Refactor test_query_subscribers
  flowmachine/tests/test_daily_location.py
  flowmachine/tests/test_dataframe_caching.py
  flowmachine/tests/test_event_table_subset.py
  flowmachine/tests/test_home_location.py
  flowmachine/tests/test_joined_aggregate.py
  flowmachine/tests/test_last_location.py
  flowmachine/tests/test_most_frequent_locations.py
  flowmachine/tests/test_query_subscribers.py
  flowmachine/tests/test_spatial_aggregate.py
  flowmachine/tests/test_subscriber_location_subset.py
  flowmachine/tests/test_unique_subscribers.py
Labels: FlowMachine, refactoring, tests

#90 Skip install of pipenv on CircleCI
  .circleci/config.yml
Labels: CI, bug

#91 Remove hyper from flowclient
  flowclient/Pipfile
  flowclient/Pipfile.lock
  flowclient/flowclient/client.py
  flowclient/setup.py
  flowclient/tests/unit/conftest.py
  flowclient/tests/unit/test_login.py
  flowclient/tests/unit/test_session_getter.py
  integration_tests/Pipfile.lock
Labels: FlowClient

#99 Convert test_scores to pytest
  flowmachine/tests/test_scores.py
Labels: FlowMachine, refactoring, tests

#92 Convert subscriber subsetting tests to pytest
  flowmachine/tests/test_subscriber_subsetting.py
Labels: refactoring, tests

#103 Allow configuring ports via env vars in docker-compose-dev.yml
  docker-compose-dev.yml
Labels: FlowAPI, FlowMachine, deployment

#97 Convert test_spatial_distancematrix to pytest
  flowmachine/tests/test_spatial_distancematrix.py
Labels: FlowMachine, refactoring, tests

#111 Bumps postgres base image to 11.1
  flowdb/Dockerfile
Labels: FlowDB

#100 Convert flow subtraction tests to pytest style
  flowmachine/tests/test_flows_subtraction.py
  flowmachine/tests/test_relative_flows.py
Labels: FlowMachine, refactoring, tests

#112 Fix special characters like @ in branch names
  .circleci/config.yml
Labels: CI, bug

#93 Convert subscriber degree tests to pytest
  .circleci/config.yml
  flowmachine/tests/test_subscriber_degree.py
Labels: FlowMachine, refactoring, tests

#95 Convert test_subscriber_call_durations to pytest
  flowmachine/tests/test_subscriber_call_durations.py
Labels: FlowMachine, refactoring, tests

#113 Test FlowClient on multiple python versions
  .travis.yml
  README.md
  flowclient/flowclient/client.py
  flowclient/setup.py
Labels: CI, FlowClient, tests

#94 Pytest test spatial activity
  flowmachine/tests/test_spatial_activity.py
  flowmachine/tests/test_total_cell_events_column_names.py
  flowmachine/tests/test_total_location_events.py
Labels: FlowMachine, refactoring, tests

#98 Pytest query union
  flowmachine/tests/test_query_union.py
Labels: FlowMachine, refactoring, tests

#101 Pytest subsetting
  flowmachine/tests/test_subsetting.py
Labels: FlowMachine, refactoring, tests

#114 Convert unique subscriber counts to pytest form
  flowmachine/tests/test_unique_subscriber_counts.py
Labels: FlowMachine, refactoring, tests

#115 Pytest versioned infrastructure
  flowmachine/tests/test_versioned_infrastructure.py
Labels: FlowMachine, refactoring, tests

#124 Rename home location
  flowmachine/flowmachine/__init__.py
  flowmachine/flowmachine/core/server/query_proxy.py
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/location/flows.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/day_trajectories.py
  flowmachine/flowmachine/features/subscriber/displacement.py
  flowmachine/flowmachine/features/subscriber/modal_location.py
  flowmachine/flowmachine/features/utilities/multilocation.py
  flowmachine/flowmachine/models/pwo.py
  flowmachine/tests/test_async.py
  flowmachine/tests/test_cache.py
  flowmachine/tests/test_displacement.py
  flowmachine/tests/test_home_location.py
  flowmachine/tests/test_spatial_aggregate.py
  flowmachine/tests/test_subscriber_subsetting.py
Labels: FlowMachine, refactoring

#122 Convert TotalSubscriberEvents tests to pytest
  flowmachine/tests/test_total_events.py
  flowmachine/tests/test_total_subscriber_events.py
Labels: FlowMachine, refactoring, tests

#117 Convert total active periods tests to pytest
  flowmachine/flowmachine/features/subscriber/total_active_periods.py
  flowmachine/tests/test_total_active_periods_subscriber.py
Labels: FlowMachine, refactoring, tests
