Repository Flowminder/FlowKit, pull requests merged in 2018-12, with the labels that each got.

#129 Display error messages helpfully on user details screen
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/login.py
  flowauth/backend/flowauth/token_management.py
  flowauth/backend/tests/test_auth.py
  flowauth/backend/tests/test_user_password_setting.py
  flowauth/frontend/cypress/integration/login_spec.js
  flowauth/frontend/cypress/integration/logout_spec.js
  flowauth/frontend/cypress/integration/user_details_spec.js
  flowauth/frontend/cypress/support/commands.js
  flowauth/frontend/cypress/support/index.js
  flowauth/frontend/src/AggregationUnitList.js
  flowauth/frontend/src/App.js
  flowauth/frontend/src/CapabilityList.js
  flowauth/frontend/src/Dashboard.js
  flowauth/frontend/src/GroupDetails.js
  flowauth/frontend/src/GroupServerDetails.js
  flowauth/frontend/src/GroupServerPermissionDetails.js
  flowauth/frontend/src/GroupServerPermissions.js
  flowauth/frontend/src/Listing.js
  flowauth/frontend/src/Login.js
  flowauth/frontend/src/MessageSnackbar.js
  flowauth/frontend/src/ServerAdminDetails.js
  flowauth/frontend/src/SubmitButtons.js
  flowauth/frontend/src/TokenDetails.js
  flowauth/frontend/src/TokenList.js
  flowauth/frontend/src/UserAdminDetails.js
  flowauth/frontend/src/UserDetails.js
  flowauth/frontend/src/UserServerList.js
  flowauth/frontend/src/index.js
  flowauth/frontend/src/util/api.js
Labels: FlowAuth, enhancement, javascript

#116 Convert subscriber location cluster tests to pytest
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/subscriber_location_cluster.py
  flowmachine/tests/test_subscriber_location_cluster.py
Labels: FlowMachine, refactoring, tests

#144 Allow enabling JIT via env var and setting default stats target
  flowdb/bin/build/configurate.py
  flowdb/bin/build/pg_config_template.conf
Labels: FlowDB, enhancement

#165 Fix travis in mergify config
  .mergify.yml
Labels: CI

#167 Brief flowauth dev instructions
  flowauth/README.md
Labels: FlowAuth, docs, ready-to-merge

#183 Etl schema
  flowdb/sql/04_schema_other.sql
Labels: ready-to-merge

#190 Remove obsolete docker-compose files in flowdb/ folder
  flowdb/docker-compose.pghero.yml
  flowdb/docker-compose.yml
Labels: FlowDB, deployment, ready-to-merge
