Repository Flowminder/FlowKit, pull requests merged in 2019-09, with the labels that each got.

#1227 Relock
  docs/Pipfile
  docs/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/setup.py
  flowmachine/tests/test_query_object_construction.py
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1230 Rename all the JSX files to have a .jsx extension
  flowauth/frontend/src/AdminListItem.jsx
  flowauth/frontend/src/AdminMenu.jsx
  flowauth/frontend/src/AggregationUnitList.jsx
  flowauth/frontend/src/AggregationUnitSetting.jsx
  flowauth/frontend/src/App.jsx
  flowauth/frontend/src/BackupCodes.jsx
  flowauth/frontend/src/BackupCodesBlock.jsx
  flowauth/frontend/src/Capability.jsx
  flowauth/frontend/src/CapabilityList.jsx
  flowauth/frontend/src/Dashboard.jsx
  flowauth/frontend/src/ErrorDialog.jsx
  flowauth/frontend/src/GenerateBackupCodes.jsx
  flowauth/frontend/src/GroupDetails.jsx
  flowauth/frontend/src/GroupList.jsx
  flowauth/frontend/src/GroupMembersPicker.jsx
  flowauth/frontend/src/GroupServerDetails.jsx
  flowauth/frontend/src/GroupServerPermissionDetails.jsx
  flowauth/frontend/src/GroupServerPermissions.jsx
  flowauth/frontend/src/GroupServerPicker.jsx
  flowauth/frontend/src/Lister.jsx
  flowauth/frontend/src/Listing.jsx
  flowauth/frontend/src/Login.jsx
  flowauth/frontend/src/LoginBox.jsx
  flowauth/frontend/src/MessageSnackbar.jsx
  flowauth/frontend/src/PermissionDetails.jsx
  flowauth/frontend/src/Picker.jsx
  flowauth/frontend/src/PublicKey.jsx
  flowauth/frontend/src/ServerAdminDetails.jsx
  flowauth/frontend/src/ServerAggregationUnits.jsx
  flowauth/frontend/src/ServerButton.jsx
  flowauth/frontend/src/ServerCapability.jsx
  flowauth/frontend/src/ServerList.jsx
  flowauth/frontend/src/SubmitButtons.jsx
  flowauth/frontend/src/Token.jsx
  flowauth/frontend/src/TokenDetails.jsx
  flowauth/frontend/src/TokenList.jsx
  flowauth/frontend/src/TokenPermission.jsx
  flowauth/frontend/src/TwoFactorActivate.jsx
  flowauth/frontend/src/TwoFactorConfirm.jsx
  flowauth/frontend/src/TwoFactorLoginBox.jsx
  flowauth/frontend/src/UserAdminDetails.jsx
  flowauth/frontend/src/UserDetails.jsx
  flowauth/frontend/src/UserGroupsPicker.jsx
  flowauth/frontend/src/UserList.jsx
  flowauth/frontend/src/UserServer.jsx
  flowauth/frontend/src/UserServerList.jsx
  flowauth/frontend/src/Version.jsx
  flowauth/frontend/src/WarningDialog.jsx
  flowauth/frontend/src/index.jsx
Labels: FlowAuth, ready-to-merge

#1238 Relock Pipfiles for flowapi and flowauth
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
Labels: ready-to-merge

#1228 Split flowdb build
  .circleci/config.yml
Labels: CI, ready-to-merge, refactoring

#1254 Relock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1258 Speed
  flowapi/flowapi/main.py
  flowapi/tests/unit/conftest.py
  flowapi/tests/unit/test_access_control.py
  flowapi/tests/unit/test_access_logging.py
  flowapi/tests/unit/test_geography.py
  flowapi/tests/unit/test_get_query.py
  flowapi/tests/unit/test_list_queries.py
  flowapi/tests/unit/test_main.py
  flowapi/tests/unit/test_poll_query.py
  flowapi/tests/unit/test_run_query.py
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/connection.py
  flowmachine/flowmachine/core/init.py
  flowmachine/flowmachine/core/query_state.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/table.py
  flowmachine/tests/conftest.py
  flowmachine/tests/test_update_available_dates.py
Labels: FlowMachine, performance, ready-to-merge

#1273 Random safety
  CHANGELOG.md
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/random.py
  flowmachine/flowmachine/core/server/query_schemas/random_sample.py
  flowmachine/flowmachine/core/table.py
  flowmachine/tests/test_query_object_construction.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
  flowmachine/tests/test_random.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowAPI, FlowClient, FlowMachine, ready-to-merge

#1275 Bump the deps
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1233 WIP: Improved the RadiusOfGyration query
  flowmachine/flowmachine/features/subscriber/radius_of_gyration.py
Labels: FlowMachine, performance, ready-to-merge

#1266 Calldays column names
  CHANGELOG.md
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/call_days.py
  flowmachine/flowmachine/features/subscriber/hartigan_cluster.py
  flowmachine/flowmachine/features/subscriber/interevent_interval.py
  flowmachine/flowmachine/features/subscriber/interevent_period.py
  flowmachine/tests/test_calldays.py
  flowmachine/tests/test_subscriber_interevent_gap.py
  flowmachine/tests/test_subscriber_interevent_period.py
Labels: FlowMachine, enhancement, ready-to-merge

#1272 More useful test output for flowmachine tests, more durations
  .circleci/config.yml
  flowdb/tests/conftest.py
  flowmachine/tests/conftest.py
Labels: FlowMachine, ready-to-merge, tests

#1279 Remove blocking call from DistanceCounterparts init
  flowmachine/flowmachine/features/subscriber/distance_counterparts.py
  flowmachine/flowmachine/features/subscriber/interevent_period.py
  flowmachine/tests/test_subscriber_interevent_gap.py
Labels: FlowMachine, bug, ready-to-merge

#1283 Bump tha deps
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowclient/flowclient/client.py
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/server/query_schemas/nocturnal_events.py
  integration_tests/Pipfile.lock
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
Labels: ready-to-merge

#1287 Run servers separately in CI docs build
  .circleci/config.yml
  docs/build.sh
Labels: CI, docs, ready-to-merge

#1286 Fix interevent test fails
  flowmachine/tests/test_subscriber_distance_counterparts.py
  flowmachine/tests/test_subscriber_interevent_gap.py
Labels: FlowMachine, ready-to-merge, tests

#1277 Tweak flowetl deployment example
  CHANGELOG.md
  flowetl/deployment_example/Makefile
  flowetl/deployment_example/README.md
  flowetl/deployment_example/defaults_flowkit.env
  flowetl/deployment_example/defaults_ingestion_db.env
  flowetl/deployment_example/docker-compose-ingestion_db.yml
  flowetl/deployment_example/docker-stack-flowkit.yml
  flowetl/deployment_example/ingestion_db/sql/01_create_events_cdr_table.sql
  flowetl/deployment_example/ingestion_db/sql/02_insert_sample_data.sql
  flowetl/deployment_example/ingestion_db/sql/create_sample_table.sql
  flowetl/deployment_example/mounts/config/etl/calls/clean.sql
  flowetl/deployment_example/mounts/config/etl/calls/extract.sql
  flowetl/deployment_example/mounts/config/etl/calls/transform.sql
  flowetl/deployment_example/mounts/config/etl/sms/clean.sql
  flowetl/deployment_example/mounts/config/etl/sms/transform.sql
  flowetl/deployment_example/mounts/config/fixed_sql/load.sql
Labels: FlowETL, ready-to-merge, refactoring

#1291 Set associated_schema_name for 'events.cdr' hypertable
  flowetl/deployment_example/ingestion_db/sql/01_create_events_cdr_table.sql
Labels: FlowETL, bug, ready-to-merge

#1289 Rename .md5 .query_id
  CHANGELOG.md
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/dummy_query.py
  flowmachine/flowmachine/core/model_result.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/query_state.py
  flowmachine/flowmachine/core/random.py
  flowmachine/flowmachine/core/server/query_schemas/base_exposed_query.py
  flowmachine/flowmachine/core/spatial_unit.py
  flowmachine/flowmachine/core/subscriber_subsetter.py
  flowmachine/flowmachine/core/table.py
  flowmachine/flowmachine/features/utilities/feature_collection.py
  flowmachine/flowmachine/utils.py
  flowmachine/tests/test_async.py
  flowmachine/tests/test_cache.py
  flowmachine/tests/test_cache_utils.py
  flowmachine/tests/test_custom_query.py
  flowmachine/tests/test_query.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
  flowmachine/tests/test_query_state.py
  flowmachine/tests/test_random.py
  flowmachine/tests/test_table.py
  flowmachine/tests/test_utils.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_sql.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_helper_functions.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
Labels: FlowMachine, ready-to-merge, refactoring

#1296 Add config option to specify SQL snippet for determining available dates in FlowETL
  CHANGELOG.md
  flowetl/dags/etl.py
  flowetl/deployment_example/README.md
  flowetl/etl/etl/config_parser.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/tests/test_config.py
  flowetl/mounts/config/config.yml
Labels: FlowETL, enhancement, ready-to-merge

#1284 Cache dependencies when running queries through FlowAPI
  .circleci/config.yml
  CHANGELOG.md
  development_environment
  docker-compose.yml
  docs/build.sh
  docs/cache_queries.py
  docs/source/administrator.md
  flowapi/flowapi/query_endpoints.py
  flowkit_jwt_generator/flowkit_jwt_generator/fixtures.py
  flowmachine/flowmachine/core/connection.py
  flowmachine/flowmachine/core/dependency_graph.py
  flowmachine/flowmachine/core/dummy_query.py
  flowmachine/flowmachine/core/errors/__init__.py
  flowmachine/flowmachine/core/errors/flowmachine_errors.py
  flowmachine/flowmachine/core/model_result.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/flowmachine/core/server/query_schemas/base_exposed_query.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/server/server_config.py
  flowmachine/flowmachine/utils.py
  flowmachine/tests/server/conftest.py
  flowmachine/tests/server/test_action_handlers.py
  flowmachine/tests/server/test_query_logging.py
  flowmachine/tests/server/test_server_config.py
  flowmachine/tests/server/test_zmq_helpers.py
  flowmachine/tests/test_dependency_graph.py
  flowmachine/tests/test_models_pwo.py
  flowmachine/tests/test_utils.py
  integration_tests/run_tests.sh
  integration_tests/tests/conftest.py
  integration_tests/tests/flowmachine_server_tests/test_action_poll_query.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_helper_functions.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
  secrets_quickstart/docker-stack.yml
Labels: FlowAPI, FlowMachine, enhancement, ready-to-merge

#1308 B-b-b-bump
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1309 Distance matrix speed
  CHANGELOG.md
  flowmachine/flowmachine/features/spatial/distance_matrix.py
  flowmachine/flowmachine/features/subscriber/displacement.py
  flowmachine/flowmachine/features/subscriber/distance_counterparts.py
  flowmachine/flowmachine/models/pwo.py
  flowmachine/tests/test_displacement.py
  flowmachine/tests/test_models_pwo.py
  flowmachine/tests/test_spatial_distancematrix.py
  flowmachine/tests/test_subscriber_distance_counterparts.py
Labels: FlowMachine, bug, enhancement, performance, ready-to-merge

#1312 Faster population weighted opportunities
  CHANGELOG.md
  flowmachine/flowmachine/core/model_result.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/features/location/__init__.py
  flowmachine/flowmachine/features/location/pwo.py
  flowmachine/flowmachine/models/__init__.py
  flowmachine/flowmachine/models/pwo.py
  flowmachine/tests/test_model.py
  flowmachine/tests/test_models_pwo.py
  flowmachine/tests/test_pwo.py
Labels: FlowMachine, enhancement, performance, ready-to-merge

#1330 Bumping the deps
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1331 Mention docker in quickstart
  docs/source/install.md
Labels: bug, docs, ready-to-merge
