Repository Flowminder/FlowKit, pull requests merged in 2019-06, with the labels that each got.

#891 Restructure deployment README
  deployment/README.md
Labels: docs, ready-to-merge, refactoring

#893 Add Ansible task to generate ssh keys
  CHANGELOG.md
  deployment/README.md
  deployment/provision-dev.yml
Labels: deployment, enhancement, ready-to-merge

#896 Display year, seconds, tz when creating tokens
  CHANGELOG.md
  flowauth/frontend/src/TokenDetails.js
Labels: FlowAuth, UX/UI, enhancement, ready-to-merge

#899 Tweak quickstart script so that it doesn't pull docker images for unneeded services
  CHANGELOG.md
  quick_start.sh
Labels: quick-start-script, ready-to-merge

#912 Re-lock Pipfiles
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowclient/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
  secrets_quickstart/Pipfile.lock
Labels: ready-to-merge

#914 Fix Displacement
  CHANGELOG.md
  flowmachine/flowmachine/features/subscriber/displacement.py
  flowmachine/flowmachine/utils.py
  flowmachine/tests/test_displacement.py
Labels: FlowMachine, bug, ready-to-merge

#917 Fix quickstart script
  .circleci/config.yml
  CHANGELOG.md
  docs/build.sh
  docs/mkdocs.yml
  docs/source/install.md
  quick_start.sh
  secrets_quickstart/docker-stack.yml
Labels: bug, deployment, quick-start-script, ready-to-merge

#927 Relock Pipfiles
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
  secrets_quickstart/Pipfile.lock
Labels: ready-to-merge

#858 Flowetl - basically working....
  .circleci/config.yml
  development_environment
  docker-compose.yml
  flowdb/sql/04_schema_other.sql
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/dags/etl.py
  flowetl/dags/etl_sensor.py
  flowetl/etl/etl/config_constant.py
  flowetl/etl/etl/config_parser.py
  flowetl/etl/etl/dag_task_callable_mappings.py
  flowetl/etl/etl/dummy_task_callables.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/etl/model.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/setup.py
  flowetl/etl/tests/conftest.py
  flowetl/etl/tests/test_config.py
  flowetl/etl/tests/test_construct_etl_dag.py
  flowetl/etl/tests/test_construct_etl_sensor_dag.py
  flowetl/etl/tests/test_dummy_callables.py
  flowetl/etl/tests/test_get_session.py
  flowetl/etl/tests/test_render_and_run_sql__callable.py
  flowetl/etl/tests/test_success_branch__callable.py
  flowetl/etl/tests/test_trigger__callable.py
  flowetl/mounts/archive/README.md
  flowetl/mounts/config/config.yml
  flowetl/mounts/config/etl/calls/extract.sql
  flowetl/mounts/config/etl/calls/transform.sql
  flowetl/mounts/config/etl/mds/extract.sql
  flowetl/mounts/config/etl/mds/transform.sql
  flowetl/mounts/config/etl/sms/extract.sql
  flowetl/mounts/config/etl/sms/transform.sql
  flowetl/mounts/config/etl/topups/extract.sql
  flowetl/mounts/config/etl/topups/transform.sql
  flowetl/mounts/config/fixed_sql/clean.sql
  flowetl/mounts/config/fixed_sql/load.sql
  flowetl/mounts/dump/README.md
  flowetl/mounts/ingest/README.md
  flowetl/mounts/quarantine/README.md
  flowetl/tests/integration/conftest.py
  flowetl/tests/integration/test_dag_run.py
  flowetl/tests/integration/test_dags_present.py
  flowetl/tests/integration/test_fixuid.py
  flowetl/tests/integration/test_full_pipeline.py
Labels: FlowETL, ready-to-merge

#929 Minor flowetl tweaks
  .circleci/config.yml
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/dags/etl.py
  flowetl/dags/etl_sensor.py
  flowetl/etl/etl/__init__.py
  flowetl/etl/etl/dummy_task_callables.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/setup.py
  flowetl/etl/tests/test_config.py
  flowetl/tests/integration/conftest.py
  flowetl/tests/integration/test_fixuid.py
Labels: FlowETL, ready-to-merge, refactoring

#930 FlowETL CI tweaks
  .circleci/config.yml
Labels: CI, FlowETL, ready-to-merge

#931 Stop pretty-quick getting carried away and autoformatting everything
  flowauth/frontend/package.json
Labels: ready-to-merge

#932 Add flowetl's etl module to codecov
  .circleci/config.yml
Labels: CI, FlowETL, tests

#933 Remove MOUNT_HOME env var
  .circleci/config.yml
  development_environment
  docker-compose.yml
  flowetl/dags/etl.py
  flowetl/etl/etl/dag_task_callable_mappings.py
  flowetl/tests/integration/conftest.py
Labels: FlowETL, ready-to-merge, refactoring

#938 Switch to structlog in flowetl tests
  flowetl/tests/integration/conftest.py
Labels: FlowETL, logging, ready-to-merge

#951 Relock Pipfiles
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#854 Flowauth token ui change
  CHANGELOG.md
  deployment/README.md
  deployment/provision-dev.yml
  flowauth/frontend/cypress/integration/add_new_token.js
  flowauth/frontend/src/ServerAggregationUnits.js
  flowauth/frontend/src/TokenDetails.js
  flowauth/frontend/src/TokenPermission.js
  flowauth/frontend/src/WarningDialog.js
Labels: ready-to-merge

#953 Remove pygraphviz as dev dependency (only load on demand)
  .circleci/config.yml
  flowetl/tests/integration/conftest.py
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/utils.py
  flowmachine/tests/test_utils.py
Labels: FlowMachine, development, ready-to-merge

#955 Fix token ui tests
  flowauth/frontend/cypress/integration/add_new_server.js
  flowauth/frontend/cypress/integration/add_new_token.js
  flowauth/frontend/src/ServerAdminDetails.js
  flowauth/frontend/src/TokenDetails.js
Labels: CI, FlowAuth, bug, ready-to-merge, tests

#957 Tasks/948 nested dict to arguments construct etl dag
  flowetl/dags/etl.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/tests/test_construct_etl_dag.py
Labels: FlowETL, ready-to-merge, refactoring

#959 Remove tables `infrastructure.countries` and infrastructure.operators`
  CHANGELOG.md
  flowdb/bin/data_cleaning/clean_operator_database.R
  flowdb/data/operator_database.csv
  flowdb/sql/01_schema_infrastructure.sql
  flowdb/sql/05_add_data.sql
Labels: FlowDB, ready-to-merge

#970 Bump Postgres version
  CHANGELOG.md
  flowdb/Dockerfile
Labels: ready-to-merge

#966 Minor flowetl test tweaks
  flowetl/tests/integration/conftest.py
  flowetl/tests/integration/test_full_pipeline.py
Labels: ready-to-merge

#980 Fix frontend tests
  flowauth/frontend/cypress/integration/add_new_token.js
  flowauth/frontend/cypress/support/commands.js
  flowauth/frontend/src/TokenDetails.js
Labels: CI, FlowAuth, bug, ready-to-merge

#979 Flowmachine unique location count
  CHANGELOG.md
  flowapi/flowapi/user_model.py
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/unique_location_counts.py
  flowmachine/flowmachine/features/subscriber/unique_location_counts.py
  flowmachine/tests/test_unique_location_counts.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, enhancement, ready-to-merge

#990 Bump pinned marshmallow version, unpin marshmallow-oneofschema
  docs/Pipfile
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/server/action_request_schema.py
  flowmachine/flowmachine/core/server/query_schemas/aggregate_network_objects.py
  flowmachine/flowmachine/core/server/query_schemas/daily_location.py
  flowmachine/flowmachine/core/server/query_schemas/dfs_metric_total_amount.py
  flowmachine/flowmachine/core/server/query_schemas/dummy_query.py
  flowmachine/flowmachine/core/server/query_schemas/flows.py
  flowmachine/flowmachine/core/server/query_schemas/geography.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/location_event_counts.py
  flowmachine/flowmachine/core/server/query_schemas/location_introversion.py
  flowmachine/flowmachine/core/server/query_schemas/meaningful_locations.py
  flowmachine/flowmachine/core/server/query_schemas/modal_location.py
  flowmachine/flowmachine/core/server/query_schemas/radius_of_gyration.py
  flowmachine/flowmachine/core/server/query_schemas/spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/total_network_objects.py
  flowmachine/flowmachine/core/server/query_schemas/unique_location_counts.py
  flowmachine/flowmachine/core/server/query_schemas/unique_subscriber_counts.py
  flowmachine/setup.py
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#978 Tasks/947 use executiondate and postgresoperator
  flowetl/dags/etl.py
  flowetl/etl/etl/dag_task_callable_mappings.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/tests/test_construct_etl_dag.py
  flowetl/etl/tests/test_render_and_run_sql__callable.py
  flowetl/etl/tests/test_trigger__callable.py
  flowetl/mounts/config/etl/calls/extract.sql
  flowetl/mounts/config/etl/calls/transform.sql
  flowetl/mounts/config/etl/mds/extract.sql
  flowetl/mounts/config/etl/mds/transform.sql
  flowetl/mounts/config/etl/sms/extract.sql
  flowetl/mounts/config/etl/sms/transform.sql
  flowetl/mounts/config/etl/topups/extract.sql
  flowetl/mounts/config/etl/topups/transform.sql
  flowetl/mounts/config/fixed_sql/clean.sql
  flowetl/mounts/config/fixed_sql/load.sql
  flowetl/tests/integration/test_dag_run.py
Labels: FlowETL, refactoring

#993 Add auxiliary etl query table
  CHANGELOG.md
  flowdb/sql/04_schema_other.sql
Labels: FlowDB, enhancement, ready-to-merge

#983 Tasks/750 airflow startup test
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/tests/integration/conftest.py
Labels: FlowETL, ready-to-merge, tests
