Repository Flowminder/FlowKit, pull requests merged in 2019-04, with the labels that each got.

#547 Fix docs compose file
  docs/docs-build-containers.yml
Labels: bug, docs, ready-to-merge

#546 Marshmallow pre fix
  .circleci/config.yml
  .gitignore
  docs/Pipfile
  docs/Pipfile.lock
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/tests/__init__.py
  flowapi/tests/unit/test_geography.py
  flowapi/tests/unit/test_get_query.py
  flowapi/tests/unit/test_poll_query.py
  flowapi/tests/unit/test_run_query.py
  flowapi/tests/unit/zmq_helpers.py
  flowclient/Pipfile
  flowclient/Pipfile.lock
  flowclient/tests/__init__.py
  flowclient/tests/unit/__init__.py
  flowclient/tests/unit/test_post_json.py
  flowclient/tests/unit/zmq_helpers.py
  flowdb/Pipfile
  flowdb/Pipfile.lock
  flowmachine/Dockerfile
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_1_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_2_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_3_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_4_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_5_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_6_sql.approved.txt
  flowmachine/tests/test_query_object_construction.py
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_tests/approved_files/test_daily_location_results.test_daily_location_1_sql.approved.txt
Labels: CI, FlowMachine, ready-to-merge

#360 Contact home distance
  CHANGELOG.md
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/contact_balance.py
  flowmachine/flowmachine/features/subscriber/contact_reference_locations_stats.py
  flowmachine/tests/test_contact_balance.py
  flowmachine/tests/test_contact_reference_locations_stats.py
Labels: FlowMachine, enhancement, ready-to-merge

#550 Available dates zmq action and API endpoint
  CHANGELOG.md
  flowapi/flowapi/main.py
  flowapi/flowapi/query_endpoints.py
  flowapi/flowapi/stream_results.py
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowclient/tests/unit/test_get_available_dates.py
  flowmachine/flowmachine/core/server/action_handlers.py
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
  integration_tests/tests/conftest.py
  integration_tests/tests/flowapi_tests/common.yaml
  integration_tests/tests/flowapi_tests/test_available_dates.tavern.yaml
  integration_tests/tests/flowmachine_server_tests/test_action_get_available_dates.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_params.py
  integration_tests/tests/pytest.ini
  integration_tests/tests/test_queries.py
Labels: FlowAPI, FlowClient, FlowMachine, ready-to-merge

#559 Update .mergify.yml
  .mergify.yml
Labels: ready-to-merge

#499 Tac stats
  CHANGELOG.md
  flowdb/testdata/test_data/data/tac_database.csv
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/handset_stats.py
  flowmachine/tests/test_subscriber_handset_stats.py
Labels: FlowMachine, enhancement, ready-to-merge

#554 Claims check
  flowapi/flowapi/check_claims.py
  flowapi/flowapi/geography.py
  flowapi/flowapi/jwt_auth_callbacks.py
  flowapi/flowapi/main.py
  flowapi/flowapi/query_endpoints.py
  flowapi/flowapi/user_model.py
  flowapi/setup.py
  flowapi/tests/unit/test_access_control.py
  flowapi/tests/unit/test_claim_check.py
  flowapi/tests/unit/test_get_query.py
  flowapi/tests/unit/test_poll_query.py
  flowapi/tests/unit/test_run_query.py
  flowdb/Dockerfile
Labels: FlowAPI, ready-to-merge, refactoring

#561 Restore parallel image build
  .circleci/config.yml
Labels: CI, ready-to-merge

#566 Approvaltests config and dev docs update
  approvaltests_diff_reporters.json
  docs/source/dev_environment_setup.md
  flowmachine/tests/functional_tests/conftest.py
  integration_tests/tests/conftest.py
  integration_tests/tests/flowmachine_tests/conftest.py
Labels: docs, ready-to-merge, tests

#574 Fix hang with error
  CHANGELOG.md
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/tests/server/test_action_handlers.py
Labels: FlowMachine, bug, ready-to-merge

#576 Fix midnight events
  CHANGELOG.md
  flowdb/testdata/test_data/data/records/calls/calls_20160102.csv
  flowdb/testdata/test_data/data/records/calls/calls_20160104.csv
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_1_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_2_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_3_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_4_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_5_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_6_sql.approved.txt
  flowmachine/tests/test_meaningful_locations.py
  flowmachine/tests/test_subscriber_contact_reciprocal.py
  integration_tests/tests/flowmachine_tests/approved_files/test_daily_location_results.test_daily_location_1_sql.approved.txt
Labels: FlowMachine, bug, ready-to-merge

#583 Update 04_schema_other.sql
  CHANGELOG.md
  flowdb/sql/04_schema_other.sql
Labels: FlowDB, ready-to-merge

#589 Rephrase docs to be more explicit about default logging level.
  docs/source/5-administrator.md
Labels: FlowMachine, docs, ready-to-merge

#562 Unique subscriber counts
  CHANGELOG.md
  docs/notebook_preamble.py
  flowauth/backend/flowauth/models.py
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/flowmachine_query.py
  flowmachine/flowmachine/core/server/query_schemas/unique_subscriber_counts.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_params.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_query_kind.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/test_queries.py
Labels: FlowAPI, FlowClient, FlowMachine, enhancement, ready-to-merge

#580 Location introversion
  CHANGELOG.md
  docs/notebook_preamble.py
  flowauth/backend/flowauth/models.py
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/flowmachine_query.py
  flowmachine/flowmachine/core/server/query_schemas/location_introversion.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/test_queries.py
Labels: FlowAPI, FlowClient, FlowMachine, enhancement, ready-to-merge

#590 Total Network Objects
  CHANGELOG.md
  docs/notebook_preamble.py
  flowapi/flowapi/stream_results.py
  flowauth/backend/flowauth/models.py
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/flowmachine_query.py
  flowmachine/flowmachine/core/server/query_schemas/total_network_objects.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/test_queries.py
Labels: ready-to-merge

#611 Joined spatial aggregate
  CHANGELOG.md
  docs/source/4-developer.md
  flowapi/flowapi/flowapi_errors.py
  flowapi/flowapi/user_model.py
  flowapi/tests/unit/test_access_control.py
  flowapi/tests/unit/test_run_query.py
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/flowmachine_query.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/meaningful_locations.py
  flowmachine/flowmachine/core/server/query_schemas/spatial_aggregate.py
  flowmachine/flowmachine/features/subscriber/metaclasses.py
  flowmachine/flowmachine/features/utilities/spatial_aggregates.py
  flowmachine/flowmachine/features/utilities/subscriber_locations.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowAPI, FlowClient, FlowMachine, enhancement, ready-to-merge

#632 Fix not being able to add users with a Postgres backend
  CHANGELOG.md
  flowauth/frontend/src/Listing.js
Labels: FlowAuth, bug, ready-to-merge

#610 Dev setup cleanup
  .circleci/config.yml
  .gitignore
  CHANGELOG.md
  Makefile
  development_environment
  docker-compose-dev.yml
  docker-compose.yml
  docs/.env
  docs/README.md
  docs/build.sh
  docs/docs-build-containers.yml
  docs/source/2-install.md
  docs/source/4-developer.md
  docs/source/5-administrator.md
  docs/source/dev_environment_setup.md
  flowapi/.env
  flowapi/Dockerfile-dev
  flowapi/flowapi/config.py
  flowapi/flowapi/main.py
  flowapi/tests/unit/conftest.py
  flowauth/.env
  flowdb/Dockerfile
  flowdb/bin/build/configurate.py
  flowdb/bin/build/last_create_roles.sh
  flowdb/testdata/Dockerfile.synthetic_data
  flowdb/testdata/bin/z_ingest_synthetic_data.sh
  flowdb/tests/conftest.py
  flowdb/tests/synth-data-tests-compose.yml
  flowdb/tests/test_partitioning.py
  flowdb/tests/test_roles.py
  flowmachine/.env
  flowmachine/Dockerfile
  flowmachine/Dockerfile-dev
  flowmachine/flowmachine/core/init.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/tests/conftest.py
  flowmachine/tests/test_init.py
  integration_tests/.env
  integration_tests/README.md
  integration_tests/docker-compose.yml
  integration_tests/run_tests.sh
  integration_tests/tests/conftest.py
  integration_tests/tests/flowapi_tests/common.yaml
  secrets_quickstart/.gitignore
  secrets_quickstart/docker-stack.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: development, ready-to-merge, refactoring

#639 Use SHA1 for tagging docker builds
  .circleci/config.yml
Labels: CI, enhancement, ready-to-merge

#621 OpenAPI Spec
  .gitignore
  CHANGELOG.md
  docs/Pipfile
  docs/Pipfile.lock
  docs/build.sh
  docs/mkdocs.yml
  docs/source/administrator.md
  docs/source/analyst.md
  docs/source/api-spec.html
  docs/source/developer.md
  docs/source/index.md
  docs/source/install.md
  docs/source/license.md
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/flowapi/__init__.py
  flowapi/flowapi/api_spec.py
  flowapi/flowapi/geography.py
  flowapi/flowapi/jwt_auth_callbacks.py
  flowapi/flowapi/main.py
  flowapi/flowapi/query_endpoints.py
  flowapi/flowapi/templates/spec.html
  flowapi/setup.py
  flowapi/tests/unit/test_access_control.py
  flowclient/flowclient/client.py
  flowclient/tests/unit/test_get_url.py
  flowclient/tests/unit/test_post_json.py
  flowmachine/flowmachine/core/server/query_schemas/daily_location.py
  flowmachine/flowmachine/core/server/query_schemas/dfs_metric_total_amount.py
  flowmachine/flowmachine/core/server/query_schemas/dummy_query.py
  flowmachine/flowmachine/core/server/query_schemas/flows.py
  flowmachine/flowmachine/core/server/query_schemas/geography.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/location_event_counts.py
  flowmachine/flowmachine/core/server/query_schemas/location_introversion.py
  flowmachine/flowmachine/core/server/query_schemas/meaningful_locations.py
  flowmachine/flowmachine/core/server/query_schemas/modal_location.py
  flowmachine/flowmachine/core/server/query_schemas/spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/total_network_objects.py
  flowmachine/flowmachine/core/server/query_schemas/unique_subscriber_counts.py
  flowmachine/setup.py
  integration_tests/Pipfile.lock
  integration_tests/tests/flowapi_tests/test_api_spec.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
Labels: FlowAPI, docs, enhancement, ready-to-merge

#607 Aggregate network objects
  CHANGELOG.md
  docs/notebook_preamble.py
  docs/source/developer.md
  flowapi/flowapi/user_model.py
  flowauth/backend/flowauth/models.py
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowclient/tests/unit/test_post_json.py
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/flowmachine/core/server/query_schemas/aggregate_network_objects.py
  flowmachine/flowmachine/core/server/query_schemas/custom_fields.py
  flowmachine/flowmachine/core/server/query_schemas/flowmachine_query.py
  flowmachine/flowmachine/core/server/query_schemas/total_network_objects.py
  flowmachine/flowmachine/features/network/total_network_objects.py
  flowmachine/tests/server/test_action_handlers.py
  flowmachine/tests/test_total_network_objects.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: ready-to-merge

#638 Add messages to QueryState enum
  flowmachine/flowmachine/core/query_state.py
  flowmachine/flowmachine/core/server/action_handlers.py
Labels: FlowMachine, ready-to-merge, refactoring

#642 Rename etl status enum
  CHANGELOG.md
  flowdb/sql/04_schema_other.sql
Labels: FlowDB, ready-to-merge

#644 Add removal of POSTGRES_DB to changelog #643
  CHANGELOG.md
Labels: ready-to-merge

#646 Decompose get_result_by_query_id into smaller functions
  CHANGELOG.md
  flowclient/flowclient/client.py
Labels: FlowClient, ready-to-merge, refactoring

#647 Marshmallow schema for incoming requests
  flowapi/tests/unit/test_geography.py
  flowapi/tests/unit/test_get_query.py
  flowapi/tests/unit/test_poll_query.py
  flowapi/tests/unit/test_run_query.py
  flowapi/tests/unit/zmq_helpers.py
  flowclient/tests/unit/test_post_json.py
  flowclient/tests/unit/zmq_helpers.py
  flowmachine/.coveragerc
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/flowmachine/core/server/action_request_schema.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/server/zmq_helpers.py
  flowmachine/tests/server/test_action_handlers.py
  flowmachine/tests/server/test_zmq_helpers.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
Labels: FlowMachine, ready-to-merge, refactoring

#648 Consistent params in FlowClient
  CHANGELOG.md
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/meaningful_locations.py
  flowmachine/tests/test_query_object_construction.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, ready-to-merge, refactoring

#664 Redis sync
  CHANGELOG.md
  docs/source/administrator.md
  flowmachine/flowmachine/core/cache.py
  flowmachine/tests/conftest.py
  flowmachine/tests/server/test_action_handlers.py
  flowmachine/tests/test_cache_utils.py
  integration_tests/tests/conftest.py
Labels: FlowMachine, enhancement, ready-to-merge

#663 Fix mode for AggregateNetworkObjects
  CHANGELOG.md
  flowmachine/flowmachine/features/network/total_network_objects.py
  flowmachine/tests/test_total_network_objects.py
Labels: FlowMachine, bug, ready-to-merge

#665 Slimmer docker images
  .circleci/config.yml
  flowapi/Dockerfile
  flowauth/Dockerfile
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowdb/testdata/Dockerfile
  flowdb/testdata/Dockerfile.synthetic_data
  flowmachine/Dockerfile
Labels: FlowAPI, FlowAuth, FlowMachine, docker, enhancement, ready-to-merge

#649 Fix Unhandled exception in TotalNetworkObjects
  CHANGELOG.md
  flowmachine/flowmachine/core/join_to_location.py
  flowmachine/flowmachine/features/network/total_network_objects.py
  flowmachine/tests/test_total_network_objects.py
Labels: FlowMachine, bug, ready-to-merge

#671 Fix rog in top level
  CHANGELOG.md
  flowmachine/flowmachine/core/server/query_schemas/flowmachine_query.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
Labels: FlowMachine, bug, ready-to-merge

#672 Relock Pipfiles
  docs/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowmachine/Pipfile.lock
Labels: FlowClient, FlowDB, FlowMachine, docs, ready-to-merge

#667 Refactor subsetting by hours
  CHANGELOG.md
  flowmachine/flowmachine/core/hour_slice.py
  flowmachine/flowmachine/core/sqlalchemy_table_definitions.py
  flowmachine/flowmachine/core/sqlalchemy_utils.py
  flowmachine/flowmachine/core/subscriber_subsetter.py
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  flowmachine/flowmachine/features/utilities/events_tables_union.py
  flowmachine/flowmachine/features/utilities/group_values.py
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_2_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_3_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_4_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_5_sql.approved.txt
  flowmachine/tests/test_dataframe_caching.py
  flowmachine/tests/test_event_table_subset.py
  flowmachine/tests/test_hour_slice.py
  flowmachine/tests/test_query_object_construction.py
  flowmachine/tests/test_subscriber_subsetting.py
  flowmachine/tests/test_to_sql.py
  flowmachine/tests/test_utils.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_sql.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_helper_functions.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
  integration_tests/tests/flowmachine_tests/approved_files/test_daily_location_results.test_daily_location_1_sql.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_1_df.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_1_sql.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_2_df.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_2_sql.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_3_df.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_3_sql.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_4_df.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_4_sql.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_5_df.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_event_count_results.test_event_count_5_sql.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_events_tables_union.test_events_tables_union_1_df.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_events_tables_union.test_events_tables_union_1_sql.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_events_tables_union.test_events_tables_union_2_df.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_events_tables_union.test_events_tables_union_2_sql.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_events_tables_union.test_events_tables_union_3_df.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_events_tables_union.test_events_tables_union_3_sql.approved.txt
  integration_tests/tests/flowmachine_tests/test_event_count_results.py
  integration_tests/tests/flowmachine_tests/test_events_tables_union.py
Labels: FlowMachine, ready-to-merge, refactoring

#673 Require synth data to be set
  .circleci/config.yml
  CHANGELOG.md
  flowdb/testdata/bin/z_ingest_synthetic_data.sh
Labels: FlowDB, bug, ready-to-merge

#676 Remove args to available dates
  CHANGELOG.md
  flowapi/flowapi/query_endpoints.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/action_handlers.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_available_dates.py
Labels: FlowAPI, ready-to-merge

#685 Fix failing FlowAPI docker container startup
  flowapi/start.sh
Labels: FlowAPI, bug, docker, ready-to-merge

#678 User page validation and test
  CHANGELOG.md
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowauth/frontend/cypress/integration/add_new_user.js
  flowauth/frontend/package-lock.json
  flowauth/frontend/src/AdminMenu.js
  flowauth/frontend/src/UserAdminDetails.js
Labels: FlowAuth, UX/UI, enhancement, ready-to-merge

#687 Deployment Ansible script tweaks
  CHANGELOG.md
  deployment/.gitignore
  deployment/Pipfile
  deployment/Pipfile.lock
  deployment/README.md
  deployment/provision-dev.yml
  deployment/provision.yml
  deployment/requirements.yml
  deployment/roles/base_packages/tasks/main.yml
  deployment/roles/user_accounts/defaults/main.yml
  deployment/roles/user_accounts/tasks/main.yml
Labels: deployment, ready-to-merge
