Repository Flowminder/FlowKit, pull requests merged in 2019-11, with the labels that each got.

#1485 Bump lockfiles
  deployment/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1507 Bump python deps
  deployment/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1513 Add OGR foreign data wrapper
  CHANGELOG.md
  flowdb/Dockerfile
  flowdb/bin/build/003_create_extensions.sh
  flowdb/tests/test_extensions.py
Labels: FlowDB, ready-to-merge

#1517 Flowetl secrets
  CHANGELOG.md
  flowetl/entrypoint.sh
Labels: FlowETL, ready-to-merge, security

#1550 Relock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1523 Fix quickstart with no netstat
  CHANGELOG.md
  quick_start.sh
Labels: bug, quick-start-script, ready-to-merge

#1565 Bump airflow to 1.10.6
  CHANGELOG.md
  flowetl/Dockerfile
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/etl/setup.py
Labels: FlowETL, dependencies, ready-to-merge

#1566 Bump the deps
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1572 Bump pgsql-ogr-fdw version
  flowdb/Dockerfile
Labels: ready-to-merge

#1580 Use docker-compose-build.yml to 'make up'
  Makefile
Labels: development, ready-to-merge

#1522 More secure FlowETL default
  .circleci/config.yml
  CHANGELOG.md
  development_environment
  docker-compose.yml
  flowetl/Dockerfile
  flowetl/deployment_example/README.md
  flowetl/deployment_example/defaults_flowkit.env
  flowetl/deployment_example/docker-stack-flowkit.yml
  flowetl/entrypoint.sh
  flowetl/tests/integration/conftest.py
  flowetl/tests/integration/test_fixuid.py
  flowetl/tests/integration/test_security_setup.py
Labels: FlowETL, ready-to-merge, security

#1500 New schema
  flowdb/Dockerfile
  flowdb/bin/build/0000_check_environment.sh
  flowdb/bin/build/0010_create_extensions.sh
  flowdb/bin/build/0010_flowdb_version.sh
  flowdb/bin/build/0010_location_table.sh
  flowdb/bin/build/0010_postgis_vit_utilities.sql
  flowdb/bin/build/0010_schema_public.sql
  flowdb/bin/build/0010_tweak_config.sh
  flowdb/bin/build/0020_grid.sql
  flowdb/bin/build/0020_hartigan.sql
  flowdb/bin/build/0020_schema_cache.sql
  flowdb/bin/build/0020_schema_events.sql
  flowdb/bin/build/0020_schema_geography.sql
  flowdb/bin/build/0020_schema_infrastructure.sql
  flowdb/bin/build/0020_schema_other.sql
  flowdb/bin/build/0030_add_data.sql
  flowdb/bin/build/0030_available_tables.sql
  flowdb/bin/build/0030_configure_cache.sh
  flowdb/bin/build/0030_postgis_ingest_data.sh
  flowdb/bin/build/0030_schema_dfs.sql
  flowdb/bin/build/0030_schema_interactions.sql
  flowdb/bin/build/0030_utilities.sql
  flowdb/bin/build/0030_viewshed.sql
  flowdb/bin/build/9000_last_create_roles.sh
  flowdb/bin/data_cleaning/README.md
  flowdb/bin/data_cleaning/clean_tac_database.R
  flowdb/sql/00_schema_public.sql
  flowdb/sql/03_schema_geography.sql
  flowdb/testdata/.dockerignore
  flowdb/testdata/Dockerfile
  flowdb/testdata/Dockerfile.synthetic_data
  flowdb/testdata/bin/9900_ingest_synthetic_data.sh
  flowdb/testdata/bin/9900_ingest_test_data.sh
  flowdb/testdata/bin/9900_run_synthetic_dfs_data_generation_script.sh
  flowdb/tests/test_synthetic_data.py
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_versioned_site_sql.approved.txt
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
Labels: FlowDB, development, discussion, enhancement, ready-to-merge

#1603 Add flowetl pools
  development_environment
  docker-compose.yml
  flowetl/entrypoint.sh
Labels: FlowETL, enhancement, ready-to-merge

#1604 Bump deps
  autoflow/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1606 Transform testdata
  flowdb/testdata/.dockerignore
  flowdb/testdata/Dockerfile
  flowdb/testdata/bin/9910_migrate_test_data.sql
Labels: FlowDB, ready-to-merge, tests

#1618 Fix Makefile
  Makefile
Labels: development, ready-to-merge

#1616 Fix diff reporters
  .gitignore
  approvaltests_diff_reporters.json
  docs/source/developer/dev_environment_setup.md
  flowmachine/tests/conftest.py
  flowmachine/tests/functional_tests/test_sql_strings_and_results.py
  flowmachine/tests/test_query_object_construction.py
  integration_tests/tests/conftest.py
  integration_tests/tests/flowapi_tests/test_api_spec.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
  integration_tests/tests/flowmachine_tests/test_daily_location_results.py
  integration_tests/tests/flowmachine_tests/test_event_count_results.py
  integration_tests/tests/flowmachine_tests/test_events_tables_union.py
Labels: CI, bug, ready-to-merge, tests
