Repository Flowminder/FlowKit, pull requests merged in 2019-08, with the labels that each got.

#1114 Relock pipfiles
  deployment/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1103 Fix flowauth stackfile
  .circleci/config.yml
  docs/source/install.md
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/config.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/tests/test_commands.py
  flowauth/docker-compose.yml
  secrets_quickstart/docker-stack.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: FlowAuth, bug, ready-to-merge

#1119 Relock pipfiles
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowetl/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1125 Show Flowauth version number
  CHANGELOG.md
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/version.py
  flowauth/backend/tests/test_version_route.py
  flowauth/frontend/cypress/integration/version.js
  flowauth/frontend/src/App.js
  flowauth/frontend/src/Version.js
  flowauth/frontend/src/util/api.js
Labels: FlowAuth, UX/UI, enhancement, ready-to-merge

#1127 Flowetl deployment example
  CHANGELOG.md
  flowetl/deployment_example/Makefile
  flowetl/deployment_example/README.md
  flowetl/deployment_example/defaults.env
  flowetl/deployment_example/docker-stack.yml
  flowetl/deployment_example/ingestion_db/Dockerfile
  flowetl/deployment_example/ingestion_db/bin/build/01_create_roles.sh
  flowetl/deployment_example/ingestion_db/sql/01_create_db.sql
  flowetl/deployment_example/ingestion_db/sql/create_sample_table.sql
  flowetl/deployment_example/ingestion_db/sql/populate_sample_table.sql
  flowetl/deployment_example/mounts/config/config.yml
  flowetl/deployment_example/mounts/config/etl/calls/clean.sql
  flowetl/deployment_example/mounts/config/etl/calls/extract.sql
  flowetl/deployment_example/mounts/config/etl/calls/transform.sql
  flowetl/deployment_example/mounts/config/etl/sms/clean.sql
  flowetl/deployment_example/mounts/config/etl/sms/extract.sql
  flowetl/deployment_example/mounts/config/etl/sms/transform.sql
  flowetl/deployment_example/mounts/config/fixed_sql/load.sql
  flowetl/deployment_example/mounts/files/SMS_20190101.csv
  flowetl/deployment_example/shut_down_docker_stack.sh
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/tests/test_trigger__callable.py
  flowetl/mounts/config/etl/calls/clean.sql
  flowetl/mounts/config/etl/mds/clean.sql
  flowetl/mounts/config/etl/sms/clean.sql
  flowetl/mounts/config/etl/topups/clean.sql
Labels: FlowETL, deployment, docs

#1129 Fix some indent issues in install.md #1128
  docs/source/install.md
Labels: bug, docs, ready-to-merge

#1051 Tasks/989 allow postetl informative queries
  CHANGELOG.md
  flowdb/sql/04_schema_other.sql
  flowetl/deployment_example/README.md
  flowetl/deployment_example/mounts/files/SMS_20190102.csv
  flowetl/etl/etl/config_parser.py
  flowetl/etl/etl/dag_task_callable_mappings.py
  flowetl/etl/etl/dummy_task_callables.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/etl/model.py
  flowetl/etl/etl/postetl_queries.py
  flowetl/etl/etl/production_postload_queries.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/tests/conftest.py
  flowetl/etl/tests/test_postetl_query_outcome.py
  flowetl/etl/tests/test_run_postload_queries__callable.py
  flowetl/tests/integration/test_dag_run.py
  flowetl/tests/integration/test_dags_present.py
  flowetl/tests/integration/test_full_pipeline.py
Labels: FlowETL, enhancement, ready-to-merge

#1132 Fix makefile target name in README
  flowetl/deployment_example/README.md
Labels: FlowETL, bug, docs, ready-to-merge

#1143 Relock Pipfiles
  flowapi/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1149 Bump postgres and postgis
  CHANGELOG.md
  flowdb/Dockerfile
Labels: FlowDB

#1150 Bump airflow, switch back to puckel base image
  flowetl/Dockerfile
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/etl/setup.py
  flowetl/etl/tests/test_construct_etl_dag.py
Labels: FlowETL, ready-to-merge

#956 MFA for FlowAuth
  CHANGELOG.md
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/admin.py
  flowauth/backend/flowauth/login.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/flowauth/token_management.py
  flowauth/backend/flowauth/user_settings.py
  flowauth/backend/setup.py
  flowauth/backend/tests/conftest.py
  flowauth/backend/tests/test_auth.py
  flowauth/backend/tests/test_server_admin.py
  flowauth/backend/tests/test_token_generation.py
  flowauth/backend/tests/test_two_factor.py
  flowauth/backend/tests/test_user_and_groups_admin.py
  flowauth/backend/tests/test_user_password_setting.py
  flowauth/backend/tests/test_user_views.py
  flowauth/frontend/cypress/integration/add_new_server.js
  flowauth/frontend/cypress/integration/two_factor_auth.js
  flowauth/frontend/cypress/support/commands.js
  flowauth/frontend/package-lock.json
  flowauth/frontend/package.json
  flowauth/frontend/public/index.html
  flowauth/frontend/src/App.js
  flowauth/frontend/src/BackupCodes.js
  flowauth/frontend/src/BackupCodesBlock.js
  flowauth/frontend/src/GenerateBackupCodes.js
  flowauth/frontend/src/GroupServerPermissionDetails.js
  flowauth/frontend/src/Login.js
  flowauth/frontend/src/LoginBox.js
  flowauth/frontend/src/PermissionDetails.js
  flowauth/frontend/src/ServerAdminDetails.js
  flowauth/frontend/src/TokenDetails.js
  flowauth/frontend/src/TwoFactorActivate.js
  flowauth/frontend/src/TwoFactorConfirm.js
  flowauth/frontend/src/TwoFactorLoginBox.js
  flowauth/frontend/src/UserAdminDetails.js
  flowauth/frontend/src/UserDetails.js
  flowauth/frontend/src/util/api.js
Labels: FlowAuth, enhancement, ready-to-merge, security

#1141 Catch all errors in get_reply_for_message
  flowapi/flowapi/query_endpoints.py
  flowapi/tests/unit/conftest.py
  flowapi/tests/unit/test_get_query.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/tests/server/test_zmq_helpers.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
Labels: FlowAPI, FlowMachine, ready-to-merge

#1106 Replace duplicated method for getting a secret or an environment variable
  docs/Pipfile.lock
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/flowapi/config.py
  flowapi/setup.py
  flowapi/tests/unit/test_secrets.py
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowauth/backend/flowauth/config.py
  flowauth/backend/setup.py
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/__init__.py
  flowmachine/flowmachine/core/init.py
  flowmachine/flowmachine/utils.py
  flowmachine/setup.py
  flowmachine/tests/test_utils.py
  integration_tests/Pipfile.lock
Labels: FlowAPI, FlowAuth, FlowMachine, ready-to-merge, refactoring

#1171 Relock pipfiles
  docs/Pipfile.lock
  docs/source/worked_examples/cell-towers-per-region.ipynb
  docs/source/worked_examples/commuting-patterns.ipynb
  docs/source/worked_examples/flows-above-normal.ipynb
  docs/source/worked_examples/unique-subscriber-counts.ipynb
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1174 Fix flowetl ci job
  .circleci/config.yml
Labels: CI, bug

#1183 Fix flowauth model properties
  .circleci/config.yml
  .mergify.yml
  flowauth/backend/flowauth/admin.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/flowauth/token_management.py
  flowauth/backend/tests/test_two_factor.py
Labels: FlowAuth, bug, ready-to-merge, refactoring

#1168 Expose random sampling via API
  CHANGELOG.md
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowdb/sql/functions_001_utilities.sql
  flowdb/tests/test_utility_functions.py
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/random.py
  flowmachine/flowmachine/core/server/query_schemas/base_query_with_sampling.py
  flowmachine/flowmachine/core/server/query_schemas/daily_location.py
  flowmachine/flowmachine/core/server/query_schemas/displacement.py
  flowmachine/flowmachine/core/server/query_schemas/event_count.py
  flowmachine/flowmachine/core/server/query_schemas/handset.py
  flowmachine/flowmachine/core/server/query_schemas/modal_location.py
  flowmachine/flowmachine/core/server/query_schemas/nocturnal_events.py
  flowmachine/flowmachine/core/server/query_schemas/pareto_interactions.py
  flowmachine/flowmachine/core/server/query_schemas/radius_of_gyration.py
  flowmachine/flowmachine/core/server/query_schemas/random_sample.py
  flowmachine/flowmachine/core/server/query_schemas/subscriber_degree.py
  flowmachine/flowmachine/core/server/query_schemas/topup_amount.py
  flowmachine/flowmachine/core/server/query_schemas/topup_balance.py
  flowmachine/flowmachine/core/server/query_schemas/unique_location_counts.py
  flowmachine/flowmachine/core/table.py
  flowmachine/tests/test_cache.py
  flowmachine/tests/test_query.py
  flowmachine/tests/test_query_object_construction.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
  flowmachine/tests/test_random.py
  flowmachine/tests/test_subscriber_subsetting.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, ready-to-merge

#1099 Flowmachine histogram aggregation
  CHANGELOG.md
  flowmachine/flowmachine/features/utilities/__init__.py
  flowmachine/flowmachine/features/utilities/histogram_aggregation.py
  flowmachine/tests/test_histogram_aggregations.py
Labels: FlowMachine, enhancement, ready-to-merge

#1205 Be explicit about Postgres minor version and update POSTGRES_DIGEST
  flowdb/Dockerfile
Labels: FlowDB, bug, ready-to-merge
