Repository Flowminder/FlowKit, pull requests merged in 2019-10, with the labels that each got.

#1334 Add caveat for FlowETL
  flowetl/README.md
Labels: FlowETL, docs, ready-to-merge

#1369 Bump remaining deps
  deployment/Pipfile.lock
  docs/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
Labels: ready-to-merge

#1380 Flowetl refactoring & bug fixes
  CHANGELOG.md
  flowetl/dags/etl.py
  flowetl/dags/etl_sensor.py
  flowetl/deployment_example/README.md
  flowetl/deployment_example/mounts/config/config.yml
  flowetl/etl/etl/config_parser.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/tests/test_config.py
  flowetl/etl/tests/test_construct_etl_dag.py
  flowetl/etl/tests/test_construct_etl_sensor_dag.py
  flowetl/mounts/config/config.yml
Labels: FlowETL, bug, ready-to-merge, refactoring

#1381 Fix adding api routes to servers
  CHANGELOG.md
  flowauth/frontend/cypress/integration/add_new_route.js
  flowauth/frontend/src/AdminMenu.jsx
  flowauth/frontend/src/AggregationUnitList.jsx
  flowauth/frontend/src/AggregationUnitSetting.jsx
  flowauth/frontend/src/CapabilityList.jsx
  flowauth/frontend/src/PermissionDetails.jsx
  flowauth/frontend/src/ServerAdminDetails.jsx
  flowauth/frontend/src/ServerAggregationUnits.jsx
  flowauth/frontend/src/TokenPermission.jsx
Labels: FlowAuth, bug, ready-to-merge

#1314 Distance series query
  CHANGELOG.md
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/distance_series.py
  flowmachine/tests/test_subscriber_distance_series.py
Labels: FlowMachine, enhancement, ready-to-merge

#1338 Imputed distance series
  CHANGELOG.md
  flowdb/Dockerfile
  flowdb/bin/build/003_create_extensions.sh
  flowdb/tests/test_extensions.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/distance_series.py
  flowmachine/flowmachine/features/subscriber/imputed_distance_series.py
  flowmachine/tests/test_subscriber_imputed_distance_series.py
Labels: FlowMachine, enhancement, ready-to-merge

#1382 Fix adding servers to users
  CHANGELOG.md
  flowauth/backend/flowauth/admin.py
  flowauth/backend/tests/test_user_and_groups_admin.py
Labels: FlowAuth, bug, ready-to-merge

#1405 Relock Pipfiles
  deployment/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies, ready-to-merge

#1406 Bump oracle fdw version
  flowdb/oracle_fdw/Dockerfile
Labels: CI, FlowDB, ready-to-merge

#1409 Remove redoc specific api spec
  docs/build.sh
  docs/source/api-spec.html
  flowapi/flowapi/api_spec.py
  flowapi/flowapi/templates/spec.html
  integration_tests/tests/flowapi_tests/test_api_spec.py
Labels: FlowAPI, docs, enhancement, ready-to-merge

#1410 Relock Pipfiles
  deployment/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies, ready-to-merge

#1423 Bump deps
  deployment/Pipfile.lock
  flowapi/Pipfile.lock
  flowclient/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies

#1446 Automatic cache management
  CHANGELOG.md
  development_environment
  docs/source/administrator.md
  flowdb/bin/build/08_configure_cache.sh
  flowdb/sql/07_schema_cache.sql
  flowdb/sql/functions_001_utilities.sql
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/server/server_config.py
  flowmachine/tests/conftest.py
  flowmachine/tests/server/conftest.py
  flowmachine/tests/server/test_server_config.py
  flowmachine/tests/test_cache_utils.py
Labels: FlowDB, FlowMachine, enhancement, ready-to-merge

#1471 Relock deps
  deployment/Pipfile.lock
  docs/Pipfile
  docs/Pipfile.lock
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowclient/Pipfile
  flowclient/Pipfile.lock
  flowclient/tests/unit/test_post_json.py
  flowdb/Pipfile
  flowdb/Pipfile.lock
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/etl/tests/test_dummy_callables.py
  flowkit_jwt_generator/Pipfile
  flowkit_jwt_generator/Pipfile.lock
  flowkit_jwt_generator/flowkit_jwt_generator/jwt.py
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/tests/server/test_query_logging.py
  flowmachine/tests/test_init.py
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1473 Bump pgrouting version
  flowdb/Dockerfile
Labels: FlowDB, bug, ready-to-merge
