Repository Flowminder/FlowKit, pull requests merged in 2019-03, with the labels that each got.

#450 Better image tagging
  .circleci/config.yml
  CHANGELOG.md
  docker-compose-dev.yml
  docker-compose.yml
  docs/docs-build-containers.yml
  docs/source/4-developer.md
  docs/source/dev_environment_setup.md
  flowdb/tests/synth-data-tests-compose.yml
  integration_tests/docker-compose.yml
  secrets_quickstart/docker-stack.yml
Labels: CI, docker, ready-to-merge

#326 Interevent period
  CHANGELOG.md
  flowmachine/flowmachine/core/errors/flowmachine_errors.py
  flowmachine/flowmachine/features/subscriber/contact_balance.py
  flowmachine/flowmachine/features/subscriber/distance_counterparts.py
  flowmachine/flowmachine/features/subscriber/entropy.py
  flowmachine/flowmachine/features/subscriber/event_count.py
  flowmachine/flowmachine/features/subscriber/interevent_period.py
  flowmachine/flowmachine/utils.py
  flowmachine/tests/test_first_location.py
  flowmachine/tests/test_subscriber_event_count.py
  flowmachine/tests/test_subscriber_interevent_period.py
Labels: FlowMachine, enhancement, ready-to-merge

#338 Directed nocturnal
  CHANGELOG.md
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/nocturnal_calls.py
  flowmachine/flowmachine/features/subscriber/nocturnal_events.py
  flowmachine/tests/test_feature_collection.py
  flowmachine/tests/test_nocturnal_calls.py
  flowmachine/tests/test_nocturnal_events.py
Labels: FlowMachine, enhancement, ready-to-merge

#348 Type percent
  CHANGELOG.md
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/event_type_proportion.py
  flowmachine/flowmachine/features/subscriber/proportion_outgoing.py
  flowmachine/tests/test_proportion_outgoing.py
  flowmachine/tests/test_subscriber_event_type_proportion.py
Labels: FlowMachine, enhancement

#339 Reciprocal percent
  CHANGELOG.md
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/contact_reciprocal.py
  flowmachine/tests/test_subscriber_contact_reciprocal.py
Labels: FlowMachine, enhancement

#349 Directed pareto interactions
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/pareto_interactions.py
  flowmachine/flowmachine/features/subscriber/subscriber_degree.py
  flowmachine/tests/test_feature_collection.py
  flowmachine/tests/test_joined_aggregate.py
  flowmachine/tests/test_pareto.py
  flowmachine/tests/test_subscriber_degree.py
Labels: FlowMachine, enhancement, ready-to-merge

#340 MDS Volume statstics
  CHANGELOG.md
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/mds_volume.py
  flowmachine/tests/test_subscriber_mds_volume.py
Labels: FlowMachine, enhancement, ready-to-merge

#341 Topup stats
  CHANGELOG.md
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/topup_amount.py
  flowmachine/flowmachine/features/subscriber/topup_balance.py
  flowmachine/tests/test_subscriber_topup_amount.py
  flowmachine/tests/test_subscriber_topup_balance.py
Labels: FlowMachine, enhancement, ready-to-merge

#356 Stats for event count per contact and per location
  CHANGELOG.md
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/event_count.py
  flowmachine/flowmachine/features/subscriber/event_type_proportion.py
  flowmachine/flowmachine/features/subscriber/per_contact_event_stats.py
  flowmachine/flowmachine/features/subscriber/per_location_event_stats.py
  flowmachine/flowmachine/features/subscriber/total_subscriber_events.py
  flowmachine/tests/test_subscriber_event_count.py
  flowmachine/tests/test_subscriber_per_contact_event_stats.py
  flowmachine/tests/test_subscriber_per_location_event_stats.py
  flowmachine/tests/test_total_subscriber_events.py
Labels: FlowMachine, enhancement, ready-to-merge

#460 Structured logs
  CHANGELOG.md
  docs/Pipfile.lock
  docs/source/5-administrator.md
  flowapi/.env
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/flowapi/geography.py
  flowapi/flowapi/main.py
  flowapi/flowapi/query_endpoints.py
  flowapi/flowapi/stream_results.py
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/__init__.py
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/connection.py
  flowmachine/flowmachine/core/init.py
  flowmachine/flowmachine/core/mixins/geodata_mixin.py
  flowmachine/flowmachine/core/model_result.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/server/query_proxy.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/server/zmq_interface.py
  flowmachine/flowmachine/core/table.py
  flowmachine/flowmachine/features/location/flows.py
  flowmachine/flowmachine/features/spatial/location_area.py
  flowmachine/flowmachine/features/spatial/location_cluster.py
  flowmachine/flowmachine/features/subscriber/metaclasses.py
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  flowmachine/flowmachine/features/utilities/multilocation.py
  flowmachine/flowmachine/features/utilities/sets.py
  flowmachine/flowmachine/features/utilities/subscriber_locations.py
  flowmachine/flowmachine/models/louvain.py
  flowmachine/flowmachine/models/pwo.py
  flowmachine/flowmachine/utils.py
  flowmachine/setup.py
  flowmachine/tests/test_construct_query_object.py
  flowmachine/tests/test_init.py
  integration_tests/Pipfile.lock
  integration_tests/tests/conftest.py
Labels: FlowAPI, FlowMachine, ready-to-merge, refactoring

#477 Adds IntereventPeriod to __init__.py.
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
Labels: FlowMachine, bug, ready-to-merge

#434 Replace Redis locking with a query state machine
  CHANGELOG.md
  docs/.env
  docs/Pipfile
  docs/Pipfile.lock
  docs/build.sh
  flowapi/flowapi/geography.py
  flowapi/flowapi/query_endpoints.py
  flowapi/tests/unit/test_access_control.py
  flowapi/tests/unit/test_geography.py
  flowapi/tests/unit/test_get_query.py
  flowapi/tests/unit/test_poll_query.py
  flowclient/flowclient/client.py
  flowclient/tests/unit/test_get_status.py
  flowclient/tests/unit/test_get_url.py
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/errors/flowmachine_errors.py
  flowmachine/flowmachine/core/model_result.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/query_state.py
  flowmachine/flowmachine/core/server/query_proxy.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/table.py
  flowmachine/flowmachine/features/spatial/distance_matrix.py
  flowmachine/flowmachine/utils.py
  flowmachine/setup.py
  flowmachine/tests/conftest.py
  flowmachine/tests/server/conftest.py
  flowmachine/tests/server/test_query_proxy.py
  flowmachine/tests/test_async.py
  flowmachine/tests/test_query.py
  flowmachine/tests/test_query_state.py
  flowmachine/tests/test_to_sql.py
  integration_tests/.coveragerc
  integration_tests/Pipfile.lock
  integration_tests/tests/flowmachine_server_tests/helpers.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_params.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_query_kind.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_sql.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_helper_functions.py
Labels: FlowMachine, bug, enhancement, ready-to-merge

#491 Add standard exclude pragma in .coveragerc files
  flowapi/.coveragerc
  flowclient/.coveragerc
  flowmachine/.coveragerc
  integration_tests/.coveragerc
Labels: ready-to-merge, tests

#498 Explicit UniqueLocationCounts parameters
  flowmachine/flowmachine/features/subscriber/unique_location_counts.py
Labels: FlowMachine, ready-to-merge, refactoring

#500 Topups balance fix
  flowmachine/flowmachine/features/subscriber/topup_balance.py
Labels: FlowMachine, bug, ready-to-merge

#503 New synth data generator
  .circleci/config.yml
  CHANGELOG.md
  docs/source/4-developer.md
  flowdb/bin/build/002_tweak_config.sh
  flowdb/bin/build/zz_report_ready.sh
  flowdb/testdata/.dockerignore
  flowdb/testdata/Dockerfile.synthetic_data
  flowdb/testdata/bin/generate_synthetic_data.py
  flowdb/testdata/bin/generate_synthetic_data_sql.py
  flowdb/testdata/bin/z_ingest_synthetic_data.sh
  flowdb/testdata/synthetic_data/Pipfile
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/tests/synth-data-tests-compose.yml
  flowmachine/flowmachine/core/connection.py
Labels: FlowDB, enhancement, ready-to-merge

#506 Flowmachine pypi
  .circleci/config.yml
  CHANGELOG.md
Labels: CI, FlowMachine

#529 Fix link to worked example
  docs/source/worked_examples/index.md
Labels: bug, docs, ready-to-merge
