Repository Flowminder/FlowKit, pull requests merged in 2019-07, with the labels that each got.

#991 Flowmachine subscriber degree
  CHANGELOG.md
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/subscriber_degree.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, enhancement, ready-to-merge

#977 Fix versions of python modules not being set in docker images
  .circleci/config.yml
  CHANGELOG.md
  Dockerfile
  flowapi/.dockerignore
  flowapi/.gitattributes
  flowapi/Dockerfile
  flowapi/MANIFEST.in
  flowapi/flowapi/__init__.py
  flowapi/flowapi/_version.py
  flowapi/setup.cfg
  flowauth/.dockerignore
  flowauth/Dockerfile
  flowauth/backend/.gitattributes
  flowauth/backend/MANIFEST.in
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/_version.py
  flowauth/backend/flowauth/main.py
  flowauth/backend/setup.cfg
  flowauth/backend/uwsgi.ini
  flowclient/flowclient/_version.py
  flowclient/setup.cfg
  flowkit_jwt_generator/flowkit_jwt_generator/__init__.py
  flowkit_jwt_generator/flowkit_jwt_generator/_version.py
  flowkit_jwt_generator/setup.cfg
  flowmachine/.dockerignore
  flowmachine/.gitattributes
  flowmachine/Dockerfile
  flowmachine/flowmachine/__init__.py
  flowmachine/flowmachine/_version.py
  flowmachine/setup.cfg
Labels: FlowAPI, FlowAuth, FlowMachine, bug, docker, ready-to-merge, worked_examples

#864 Public key linkage between FlowAuth and FlowAPI
  .circleci/config.yml
  CHANGELOG.md
  development_environment
  docker-compose.yml
  docs/mkdocs.yml
  docs/notebook_preamble.py
  docs/source/administrator.md
  docs/source/install.md
  flowapi/Dockerfile
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/flowapi/config.py
  flowapi/setup.py
  flowapi/tests/unit/conftest.py
  flowauth/Pipfile
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/admin.py
  flowauth/backend/flowauth/config.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/flowauth/token_management.py
  flowauth/backend/setup.py
  flowauth/backend/tests/conftest.py
  flowauth/backend/tests/test_access_reflects_server_limits.py
  flowauth/backend/tests/test_server_admin.py
  flowauth/backend/tests/test_token_admin.py
  flowauth/backend/tests/test_token_generation.py
  flowauth/frontend/cypress/integration/add_new_server.js
  flowauth/frontend/cypress/integration/public_key.js
  flowauth/frontend/cypress/plugins/index.js
  flowauth/frontend/src/AdminMenu.js
  flowauth/frontend/src/Dashboard.js
  flowauth/frontend/src/PublicKey.js
  flowauth/frontend/src/ServerAdminDetails.js
  flowauth/frontend/src/Token.js
  flowauth/frontend/src/index.css
  flowauth/frontend/src/util/api.js
  flowkit_jwt_generator/flowkit_jwt_generator/fixtures.py
  flowkit_jwt_generator/flowkit_jwt_generator/jwt.py
  flowkit_jwt_generator/setup.py
  flowkit_jwt_generator/tests/test_cli.py
  flowkit_jwt_generator/tests/test_generator.py
  flowkit_jwt_generator/tests/test_keypairs.py
  flowkit_jwt_generator/tests/test_plugins.py
  integration_tests/Pipfile.lock
  integration_tests/test_tokens_key
  secrets_quickstart/.gitignore
  secrets_quickstart/Pipfile
  secrets_quickstart/Pipfile.lock
  secrets_quickstart/docker-stack.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: FlowAPI, FlowAuth, enhancement, flowkit-jwt-generator, ready-to-merge, security

#1016 Fix location_event_counts not working with subsets of event types
  CHANGELOG.md
  flowauth/backend/flowauth/models.py
  flowmachine/flowmachine/core/server/query_schemas/custom_fields.py
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowMachine, bug, ready-to-merge

#996 Tasks/947 use executiondate and postgresoperator
  flowetl/dags/etl.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/tests/test_config.py
  flowetl/etl/tests/test_trigger__callable.py
  flowetl/mounts/config/etl/calls/extract.sql
  flowetl/mounts/config/etl/calls/transform.sql
  flowetl/mounts/config/etl/mds/extract.sql
  flowetl/mounts/config/etl/mds/transform.sql
  flowetl/mounts/config/etl/sms/extract.sql
  flowetl/mounts/config/etl/sms/transform.sql
  flowetl/mounts/config/etl/topups/extract.sql
  flowetl/mounts/config/etl/topups/transform.sql
  flowetl/mounts/config/fixed_sql/clean.sql
  flowetl/mounts/config/fixed_sql/load.sql
Labels: FlowETL, ready-to-merge, refactoring

#1023 Flowmachine event count
  CHANGELOG.md
  docs/source/developer/developer.md
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/event_count.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, enhancement, ready-to-merge

#1037 Re-lock Pipfiles
  deployment/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowetl/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1018 Tasks/968 expose top up balance api
  CHANGELOG.md
  docs/source/developer/developer.md
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/flowmachine_query.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/topup_balance.py
  flowmachine/flowmachine/features/subscriber/topup_balance.py
  flowmachine/tests/test_subscriber_topup_balance.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowAPI, FlowClient, FlowMachine, enhancement, ready-to-merge

#1021 Improved the reliability of wait_func for flowetl DAG changes (#985)
  flowetl/tests/integration/conftest.py
  flowetl/tests/integration/test_dag_run.py
  flowetl/tests/integration/test_full_pipeline.py
Labels: CI, FlowETL, ready-to-merge

#1030 Flowmachine top up amount
  CHANGELOG.md
  docs/source/developer/developer.md
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/topup_amount.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, enhancement, ready-to-merge

#1048 Relock flowauth Pipfile
  flowauth/Pipfile.lock
Labels: ready-to-merge

#1043 Flowmachine nocturnal events
  CHANGELOG.md
  docs/source/developer/developer.md
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/nocturnal_events.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, enhancement, ready-to-merge

#1028 Allow ingestion from postgres table in addition to csv files
  .circleci/config.yml
  CHANGELOG.md
  flowetl/Dockerfile
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/dags/etl.py
  flowetl/dags/etl_sensor.py
  flowetl/etl/etl/config_constant.py
  flowetl/etl/etl/config_parser.py
  flowetl/etl/etl/dag_task_callable_mappings.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/tests/conftest.py
  flowetl/etl/tests/test_config.py
  flowetl/etl/tests/test_get_session.py
  flowetl/etl/tests/test_trigger__callable.py
  flowetl/mounts/config/config.yml
  flowetl/mounts/config/etl/calls/extract.sql
  flowetl/mounts/config/etl/calls/transform.sql
  flowetl/mounts/config/etl/mds/extract.sql
  flowetl/mounts/config/etl/mds/transform.sql
  flowetl/mounts/config/etl/sms/extract.sql
  flowetl/mounts/config/etl/sms/transform.sql
  flowetl/mounts/config/etl/topups/extract.sql
  flowetl/mounts/config/etl/topups/transform.sql
  flowetl/mounts/config/fixed_sql/clean.sql
  flowetl/tests/integration/conftest.py
Labels: FlowETL, enhancement

#1056 More informative error messages
  CHANGELOG.md
  flowclient/flowclient/client.py
  flowclient/tests/unit/test_post_json.py
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/flowmachine/core/server/query_schemas/aggregation_unit.py
  flowmachine/tests/server/test_aggregation_unit.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
Labels: FlowAPI, FlowMachine, development, ready-to-merge

#1044 Flowmachine pareto
  CHANGELOG.md
  docs/source/developer/developer.md
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/core/server/query_schemas/pareto_interactions.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, enhancement

#1067 Relock flowmachine Pipfile
  flowmachine/Pipfile.lock
Labels: FlowMachine, dependencies, ready-to-merge

#1059 Tasks/1011 expose last and modal handset api
  CHANGELOG.md
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/handset.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/subscriber_tacs.py
  flowmachine/flowmachine/features/utilities/spatial_aggregates.py
  flowmachine/tests/test_spatial_aggregate.py
  flowmachine/tests/test_subscriber_tacs.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, enhancement, ready-to-merge

#1070 Documented the information flow in FlowETL (#801)
  docs/source/developer/developer.md
Labels: ready-to-merge

#1063 Allow specifying only a subset of CDR sections in FlowETL config
  flowetl/etl/etl/config_parser.py
  flowetl/etl/tests/test_config.py
Labels: FlowETL, enhancement

#1061 Flowmachine displacement
  CHANGELOG.md
  docs/source/developer/developer.md
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowmachine/flowmachine/core/server/query_schemas/aggregation_unit.py
  flowmachine/flowmachine/core/server/query_schemas/displacement.py
  flowmachine/flowmachine/core/server/query_schemas/joined_spatial_aggregate.py
  flowmachine/flowmachine/features/subscriber/displacement.py
  flowmachine/tests/test_displacement.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_redoc_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, enhancement, ready-to-merge

#997 Updated airflow container to use gosu for permissions dropdown (#716)
  flowetl/Dockerfile
  flowetl/entrypoint.sh
Labels: FlowETL, enhancement, ready-to-merge, security

#1090 Componentize token permission details
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/frontend/src/GroupServerPermissionDetails.js
  flowauth/frontend/src/PermissionDetails.js
  flowauth/frontend/src/ServerAdminDetails.js
  flowauth/frontend/src/ServerAggregationUnits.js
  flowauth/frontend/src/TokenDetails.js
  flowauth/frontend/src/UserAdminDetails.js
  integration_tests/Pipfile.lock
Labels: FlowAuth, UX/UI, enhancement, ready-to-merge
