Repository Flowminder/FlowKit, pull requests merged in 2019-02, with the labels that each got.

#327 Fix pytest hook
  flowdb/Pipfile.lock
  flowdb/tests/conftest.py
  flowmachine/Pipfile.lock
  flowmachine/tests/conftest.py
Labels: CI, FlowDB, FlowMachine, tests

#303 Entropy
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/contact_balance.py
  flowmachine/flowmachine/features/subscriber/entropy.py
  flowmachine/flowmachine/features/subscriber/pareto_interactions.py
  flowmachine/flowmachine/features/subscriber/subscriber_degree.py
  flowmachine/tests/test_contact_balance.py
  flowmachine/tests/test_subscriber_degree.py
  flowmachine/tests/test_subscriber_entropy.py
Labels: FlowMachine, enhancement, ready-to-merge

#355 Fix reversed hours logic
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
  integration_tests/tests/conftest.py
  integration_tests/tests/flowmachine_server_tests/conftest.py
  integration_tests/tests/flowmachine_tests/approvaltests_config.json
  integration_tests/tests/flowmachine_tests/approved_files/test_daily_location_results.test_daily_location_1_df.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_daily_location_results.test_daily_location_1_sql.approved.txt
  integration_tests/tests/flowmachine_tests/conftest.py
  integration_tests/tests/flowmachine_tests/test_daily_location_results.py
Labels: FlowMachine, bug

#365 Docs cleanup
  docs/Pipfile
  docs/Pipfile.lock
  docs/README.md
  docs/mkdocs.yml
  docs/source/2-install.md
  docs/source/3-analyst.md
  docs/source/4-developer.md
  docs/source/5-administrator.md
  docs/source/6-license.md
  docs/source/README.md
  docs/source/administrator/cache_management.md
  docs/source/analyst/example_usage.ipynb
  docs/source/dev_environment_setup.md
  docs/source/flowapi.md
  docs/source/flowauth.md
  docs/source/flowclient.md
  docs/source/flowclient/example_usage.ipynb
  docs/source/flowdb.md
  docs/source/flowmachine.md
  docs/source/index.md
  flowclient/README.md
  flowclient/flowclient/__init__.py
Labels: docs

#389 Allow initialising subsetter with numpy array and pandas Series
  flowmachine/flowmachine/core/subscriber_subsetter.py
  flowmachine/tests/test_subscriber_subsetter.py
Labels: FlowMachine, bug

#320 Distance counterparts
  flowmachine/flowmachine/core/errors/flowmachine_errors.py
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/contact_balance.py
  flowmachine/flowmachine/features/subscriber/distance_counterparts.py
  flowmachine/flowmachine/features/subscriber/entropy.py
  flowmachine/flowmachine/features/subscriber/event_count.py
  flowmachine/flowmachine/utils/utils.py
  flowmachine/tests/test_subscriber_distance_counterparts.py
  flowmachine/tests/test_subscriber_entropy.py
  flowmachine/tests/test_subscriber_event_count.py
Labels: FlowMachine, enhancement

#433 Combine utils files
  flowmachine/docs/source/conf.py
  flowmachine/flowmachine/core/custom_query.py
  flowmachine/flowmachine/core/init.py
  flowmachine/flowmachine/core/join_to_location.py
  flowmachine/flowmachine/core/mixins/geodata_mixin.py
  flowmachine/flowmachine/core/model_result.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/subset.py
  flowmachine/flowmachine/core/utils.py
  flowmachine/flowmachine/features/location/flows.py
  flowmachine/flowmachine/features/location/total_events.py
  flowmachine/flowmachine/features/location/unique_subscriber_counts.py
  flowmachine/flowmachine/features/network/total_network_objects.py
  flowmachine/flowmachine/features/spatial/distance_matrix.py
  flowmachine/flowmachine/features/subscriber/call_days.py
  flowmachine/flowmachine/features/subscriber/contact_balance.py
  flowmachine/flowmachine/features/subscriber/day_trajectories.py
  flowmachine/flowmachine/features/subscriber/displacement.py
  flowmachine/flowmachine/features/subscriber/distance_counterparts.py
  flowmachine/flowmachine/features/subscriber/entropy.py
  flowmachine/flowmachine/features/subscriber/event_count.py
  flowmachine/flowmachine/features/subscriber/first_location.py
  flowmachine/flowmachine/features/subscriber/last_location.py
  flowmachine/flowmachine/features/subscriber/location_visits.py
  flowmachine/flowmachine/features/subscriber/meaningful_locations.py
  flowmachine/flowmachine/features/subscriber/modal_location.py
  flowmachine/flowmachine/features/subscriber/most_frequent_location.py
  flowmachine/flowmachine/features/subscriber/scores.py
  flowmachine/flowmachine/features/subscriber/subscriber_call_durations.py
  flowmachine/flowmachine/features/subscriber/total_active_periods.py
  flowmachine/flowmachine/features/subscriber/unique_location_counts.py
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  flowmachine/flowmachine/features/utilities/multilocation.py
  flowmachine/flowmachine/features/utilities/sets.py
  flowmachine/flowmachine/features/utilities/spatial_aggregates.py
  flowmachine/flowmachine/models/pwo.py
  flowmachine/flowmachine/utils.py
  flowmachine/flowmachine/utils/__init__.py
  flowmachine/tests/functional_tests/test_sql_strings_and_results.py
  flowmachine/tests/test_async.py
  flowmachine/tests/test_geomixin.py
  flowmachine/tests/test_utils.py
  integration_tests/tests/flowmachine_tests/test_daily_location_results.py
Labels: FlowMachine, ready-to-merge, refactoring
