Repository Flowminder/FlowKit, pull requests merged in 2019-12, with the labels that each got.

#1644 Fix FlowAuth bugs
  CHANGELOG.md
  flowauth/backend/flowauth/admin.py
  flowauth/backend/tests/test_user_and_groups_admin.py
  flowauth/frontend/cypress/integration/add_new_user.js
  flowauth/frontend/cypress/integration/admin_edit_user.js
  flowauth/frontend/src/AdminListItem.jsx
  flowauth/frontend/src/UserAdminDetails.jsx
  flowclient/flowclient/client.py
Labels: FlowAuth, bug, ready-to-merge

#1675 Add MeaningfulLocations* to features/location/__init__.py
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/location/__init__.py
  flowmachine/flowmachine/features/location/meaningful_locations_aggregate.py
  flowmachine/flowmachine/features/location/meaningful_locations_od.py
Labels: FlowMachine, ready-to-merge

#1673 Autoflow docs
  .circleci/config.yml
  autoflow/Dockerfile
  autoflow/README.md
  autoflow/autoflow/parser.py
  autoflow/autoflow/parser/__init__.py
  autoflow/autoflow/parser/available_dates_sensor_schema.py
  autoflow/autoflow/parser/custom_fields.py
  autoflow/autoflow/parser/notebook_output_schema.py
  autoflow/autoflow/parser/notebook_schema.py
  autoflow/autoflow/parser/notebooks_field.py
  autoflow/autoflow/parser/parser.py
  autoflow/autoflow/parser/workflow_config_schema.py
  autoflow/autoflow/parser/workflow_schema.py
  autoflow/docker-stack.yml
  autoflow/tests/schema_tests/test_available_dates_sensor_schema.py
  autoflow/tests/schema_tests/test_custom_fields.py
  autoflow/tests/schema_tests/test_notebook_output_schema.py
  autoflow/tests/schema_tests/test_notebook_schema.py
  autoflow/tests/schema_tests/test_notebooks_field.py
  autoflow/tests/schema_tests/test_workflow_config_schema.py
  autoflow/tests/schema_tests/test_workflow_schema.py
  autoflow/tests/test_parser.py
  docker-compose.yml
  docs/mkdocs.yml
  docs/source/analyst/autoflow.md
  docs/source/analyst/index.md
  docs/source/developer/index.md
  docs/source/install.md
Labels: AutoFlow, docs, ready-to-merge

#1066 Tasks/1019 flowetl debugging test failures
  CHANGELOG.md
  flowetl/mounts/logs/README.md
  flowetl/tests/integration/conftest.py
Labels: ready-to-merge

#1340 Iterative median filter
  CHANGELOG.md
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/imputed_distance_series.py
  flowmachine/flowmachine/features/subscriber/iterative_median_filter.py
  flowmachine/flowmachine/features/utilities/validators.py
  flowmachine/tests/test_subscriber_imputed_distance_series.py
  flowmachine/tests/test_subscriber_iterative_median_filter.py
Labels: FlowDB, FlowMachine, enhancement, ready-to-merge
