Repository Flowminder/FlowKit, pull requests merged in 2019-05, with the labels that each got.

#693 One line demo startup
  .circleci/config.yml
  CHANGELOG.md
  Makefile
  docker-compose-build.yml
  docker-compose.yml
  docs/build.sh
  docs/source/analyst.md
  docs/source/dev_environment_setup.md
  docs/source/index.md
  docs/source/install.md
  flowauth/backend/flowauth/models.py
  flowauth/frontend/cypress/integration/login_spec.js
  integration_tests/README.md
  integration_tests/run_tests.sh
  quick_start.sh
  secrets_quickstart/docker-stack.yml
Labels: CI, deployment, enhancement, ready-to-merge

#696 Update client.py closes #695
  CHANGELOG.md
  flowclient/flowclient/client.py
Labels: FlowClient, bug, docs, ready-to-merge

#692 Flowauth duplicate username
  CHANGELOG.md
  flowauth/backend/flowauth/admin.py
  flowauth/backend/tests/test_user_and_groups_admin.py
  flowauth/frontend/cypress/integration/add_new_user.js
  flowauth/frontend/src/ErrorDialog.js
  flowauth/frontend/src/UserAdminDetails.js
  flowauth/frontend/src/util/api.js
Labels: FlowAuth, UX/UI, enhancement, ready-to-merge

#710 Flowauth groupage validation
  CHANGELOG.md
  flowauth/backend/flowauth/admin.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/tests/test_user_and_groups_admin.py
  flowauth/frontend/cypress/integration/group_list.js
  flowauth/frontend/src/GroupDetails.js
Labels: FlowAuth, UX/UI, docker, enhancement, ready-to-merge

#689 Harmonised test tokens
  .circleci/config.yml
  CHANGELOG.md
  docs/Pipfile
  docs/Pipfile.lock
  docs/notebook_preamble.py
  docs/source/developer.md
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/tests/unit/conftest.py
  flowapi/tests/unit/test_access_control.py
  flowapi/tests/unit/test_access_logging.py
  flowapi/tests/unit/utils.py
  flowauth/backend/flowauth/login.py
  flowauth/frontend/cypress/integration/logout_spec.js
  flowkit_jwt_generator/.coveragerc
  flowkit_jwt_generator/.gitattributes
  flowkit_jwt_generator/MANIFEST.in
  flowkit_jwt_generator/Pipfile
  flowkit_jwt_generator/Pipfile.lock
  flowkit_jwt_generator/README.md
  flowkit_jwt_generator/flowkit_jwt_generator/__init__.py
  flowkit_jwt_generator/flowkit_jwt_generator/_version.py
  flowkit_jwt_generator/flowkit_jwt_generator/jwt.py
  flowkit_jwt_generator/setup.cfg
  flowkit_jwt_generator/setup.py
  flowkit_jwt_generator/tests/conftest.py
  flowkit_jwt_generator/tests/test_cli.py
  flowkit_jwt_generator/tests/test_generator.py
  flowkit_jwt_generator/tests/test_plugins.py
  flowkit_jwt_generator/versioneer.py
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
  integration_tests/tests/conftest.py
  integration_tests/tests/query_tests/test_queries.py
  integration_tests/tests/token_generator.py
  integration_tests/tests/utils.py
Labels: FlowAPI, FlowAuth, enhancement, ready-to-merge, refactoring

#715 Flowetl init
  .circleci/config.yml
  CHANGELOG.md
  Makefile
  development_environment
  docker-compose-build.yml
  docker-compose.yml
  flowetl/Dockerfile
  flowetl/README.md
  flowetl/dags/sample_dag.py
  flowetl/entrypoint.sh
Labels: flowetl, ready-to-merge

#720 Flowetl init patch
  .circleci/config.yml
  development_environment
  docker-compose.yml
Labels: ready-to-merge

#729 Rename parameters in connect()
  CHANGELOG.md
  flowmachine/flowmachine/core/init.py
  flowmachine/tests/test_init.py
Labels: FlowMachine, ready-to-merge, refactoring

#731 Flowauth fernet key env var
  .circleci/config.yml
  CHANGELOG.md
  docker-compose.yml
  docs/source/install.md
  flowauth/backend/config.py
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/prestart.sh
Labels: FlowAuth, bug, ready-to-merge

#732 break the test
  .circleci/config.yml
  development_environment
  docker-compose.yml
  flowetl/Dockerfile
  flowetl/dags/sample_dag.py
Labels: bug, ready-to-merge

#734 Add error messages for failure cases in CircleCI jobs
  .circleci/config.yml
Labels: CI, ready-to-merge

#733 Audience key in JWTs
  .circleci/config.yml
  CHANGELOG.md
  development_environment
  docs/notebook_preamble.py
  docs/source/install.md
  flowapi/flowapi/config.py
  flowapi/tests/unit/conftest.py
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowauth/backend/flowauth/token_management.py
  flowauth/backend/setup.py
  flowauth/backend/tests/test_token_generation.py
  flowkit_jwt_generator/flowkit_jwt_generator/__init__.py
  flowkit_jwt_generator/flowkit_jwt_generator/jwt.py
  flowkit_jwt_generator/tests/test_cli.py
  flowkit_jwt_generator/tests/test_generator.py
  flowkit_jwt_generator/tests/test_keypairs.py
  flowkit_jwt_generator/tests/test_plugins.py
  secrets_quickstart/docker-stack.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: FlowAPI, FlowAuth, enhancement, ready-to-merge, security

#738 Fix init_logging
  flowmachine/flowmachine/core/dummy_query.py
  flowmachine/flowmachine/core/logging.py
  flowmachine/flowmachine/core/query_info_lookup.py
  flowmachine/flowmachine/features/utilities/events_tables_union.py
Labels: FlowMachine, bug, logging, ready-to-merge

#684 Misc cleanups
  CHANGELOG.md
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/subscriber_subsetter.py
  flowmachine/flowmachine/core/table.py
  flowmachine/flowmachine/utils.py
  flowmachine/tests/test_cache.py
  flowmachine/tests/test_query.py
  flowmachine/tests/test_query_object_construction.py
  flowmachine/tests/test_table.py
  flowmachine/tests/test_utils.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_sql.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_helper_functions.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
Labels: FlowMachine, refactoring

#736 Fix sporadic flowauth ui test failure
  flowauth/frontend/cypress/integration/add_new_user.js
Labels: CI, FlowAuth, bug, ready-to-merge, tests

#743 Remove unused packages
  docs/Pipfile
  docs/Pipfile.lock
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
Labels: FlowMachine, docs, ready-to-merge

#739 Split test of quickstart examples into two separate jobs
  .circleci/config.yml
Labels: CI, ready-to-merge

#747 Fix quickstart script
  CHANGELOG.md
  docker-compose.yml
  quick_start.sh
Labels: FlowAPI, bug, deployment, ready-to-merge

#751 Fix example string.
  flowmachine/flowmachine/features/subscriber/subscriber_location_cluster.py
Labels: ready-to-merge

#764 Relock Pipfiles
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
  secrets_quickstart/Pipfile.lock
Labels: CI, dependencies, ready-to-merge

#744 Flowetl dag skeletons
  .circleci/config.yml
  CHANGELOG.md
  flowetl/Dockerfile
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/dags/etl.py
  flowetl/dags/etl_sensor.py
  flowetl/dags/sample_dag.py
  flowetl/tests/integration/conftest.py
  flowetl/tests/integration/test_dag_run.py
  flowetl/tests/integration/test_dags_present.py
  flowetl/tests/integration/test_fixuid.py
Labels: FlowETL, ready-to-merge

#768 Flowetl test prod env
  .circleci/config.yml
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/dags/etl.py
  flowetl/etl/etl/__init__.py
  flowetl/etl/etl/dag_task_callable_mappings.py
  flowetl/etl/etl/dummy_task_callables.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/setup.py
  flowetl/etl/tests/test_construct_etl_dag.py
  flowetl/etl/tests/test_dummy_callables.py
Labels: FlowETL, ready-to-merge, tests

#776 Remove volumes when running 'bash quick_start.sh stop' or 'make down'
  Makefile
  quick_start.sh
Labels: docker, ready-to-merge

#774 Flowetl pghooks
  flowetl/Dockerfile
  flowetl/etl/etl/dag_task_callable_mappings.py
  flowetl/etl/etl/dummy_task_callables.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/tests/test_dummy_callables.py
  flowetl/etl/tests/test_render_and_run_sql__callable.py
Labels: FlowETL, ready-to-merge

#769 Fix docstring and error message
  flowmachine/flowmachine/core/init.py
Labels: FlowMachine, ready-to-merge

#749 Flowauth serverpage validation
  CHANGELOG.md
  flowauth/frontend/cypress/integration/add_new_server.js
  flowauth/frontend/src/AdminMenu.js
  flowauth/frontend/src/ServerAdminDetails.js
Labels: FlowAuth, UX/UI, enhancement, ready-to-merge

#777 Flowetl copy callables
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/tests/conftest.py
  flowetl/etl/tests/test_dummy_callables.py
  flowetl/etl/tests/test_move_file_and_record_ingestion_state__callable.py
  flowetl/etl/tests/test_render_and_run_sql__callable.py
Labels: FlowETL, ready-to-merge

#785 Fix uncopyable examples in generate-jwt cli
  CHANGELOG.md
  flowkit_jwt_generator/flowkit_jwt_generator/jwt.py
Labels: UX/UI, bug, flowkit-jwt-generator, ready-to-merge

#788 Bump postgres & postgis versions to 11.3 & 2.5.2
  flowdb/Dockerfile
Labels: FlowDB, ready-to-merge

#790 Add ADRs
  CHANGELOG.md
  docs/mkdocs.yml
  docs/source/developer/adr/0001-pipenv-for-package-and-dependency-management.md
  docs/source/developer/adr/0002-pytest-for-testing.md
  docs/source/developer/adr/0003-http-api.md
  docs/source/developer/adr/0004-http-framework.md
  docs/source/developer/adr/0005-IPC-methods.md
  docs/source/developer/adr/0006-JWTs.md
  docs/source/developer/adr/README.md
  docs/source/developer/dev_environment_setup.md
  docs/source/developer/developer.md
Labels: docs, ready-to-merge

#784 Add query objects to dependency graph
  CHANGELOG.md
  flowmachine/flowmachine/utils.py
  flowmachine/tests/test_utils.py
Labels: FlowMachine, enhancement, ready-to-merge

#794 Add ADR for decision to use Mapbox
  docs/mkdocs.yml
  docs/source/developer/adr/0007-mapbox-for-worked-examples.md
Labels: docs, ready-to-merge, worked_examples

#791 Update docstring to illustrate plotting dependency graph in Jupyter notebook
  flowmachine/flowmachine/utils.py
Labels: FlowMachine, ready-to-merge

#796 Add flags to allow showing which test sets yield which coverage
  .circleci/config.yml
Labels: CI, ready-to-merge, tests

#741 Remove inheritance of subscriber subsetters from Query
  CHANGELOG.md
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/subscriber_subsetter.py
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  flowmachine/flowmachine/utils.py
  flowmachine/tests/conftest.py
  flowmachine/tests/functional_tests/conftest.py
  flowmachine/tests/test_query_object_construction.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
  flowmachine/tests/test_subscriber_subsetter.py
  flowmachine/tests/test_utils.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_sql.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_helper_functions.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
Labels: FlowMachine, ready-to-merge, refactoring

#800 Flowauth token validation
  CHANGELOG.md
  flowauth/frontend/cypress/integration/add_new_token.js
  flowauth/frontend/src/ServerButton.js
  flowauth/frontend/src/TokenDetails.js
  flowauth/frontend/src/TokenList.js
Labels: ready-to-merge

#798 Flowetl bookkeeping model
  flowetl/etl/etl/dag_task_callable_mappings.py
  flowetl/etl/etl/etl_utils.py
  flowetl/etl/etl/model.py
  flowetl/etl/etl/production_task_callables.py
  flowetl/etl/tests/__init__.py
  flowetl/etl/tests/conftest.py
  flowetl/etl/tests/test_construct_etl_dag.py
  flowetl/etl/tests/test_dummy_callables.py
  flowetl/etl/tests/test_etl_record_model.py
  flowetl/etl/tests/test_move_file_and_record_ingestion_state__callable.py
  flowetl/etl/tests/test_render_and_run_sql__callable.py
Labels: FlowETL, ready-to-merge

#808 Expose TotalLocationEvents 'interval' parameter
  CHANGELOG.md
  flowmachine/flowmachine/core/server/query_schemas/location_event_counts.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
Labels: FlowMachine, ready-to-merge

#792 Wait for pre-cached queries to finish before building docs
  .circleci/config.yml
  CHANGELOG.md
  development_environment
  docker-compose.yml
  docs/build.sh
  docs/cache_queries.py
  docs/mkdocs.yml
  docs/source/worked_examples/commuting-patterns.ipynb
  docs/source/worked_examples/flows-above-normal.ipynb
  docs/source/worked_examples/index.md
  docs/source/worked_examples/mobile-data-usage.ipynb
  flowdb/bin/build/configurate.py
Labels: CI, docs, ready-to-merge

#810 Update CHANGELOG.md for release 0.6.3
  CHANGELOG.md
Labels: ready-to-merge, release

#812 Fix FLOWDB_DEBUG env var and give it a clearer name
  .gitignore
  CHANGELOG.md
  development_environment
  docker-compose.yml
  flowdb/bin/build/configurate.py
Labels: FlowDB, bug, ready-to-merge

#805 Query formatting and dependency tree/graph visualisation
  .circleci/config.yml
  CHANGELOG.md
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/table.py
  flowmachine/flowmachine/utils.py
  flowmachine/tests/test_query.py
  flowmachine/tests/test_utils.py
Labels: FlowMachine, enhancement

#822 Marshmallow update
  docs/Pipfile
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/setup.py
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#824 Fix docs links
  docs/source/administrator.md
  docs/source/analyst.md
  docs/source/developer/adr/0001-pipenv-for-package-and-dependency-management.md
  docs/source/developer/developer.md
  docs/source/index.md
  docs/source/install.md
  docs/source/license.md
Labels: docs, ready-to-merge

#831 Remove FLOWDB_SERVICES env var
  CHANGELOG.md
  Makefile
  docker-compose.yml
  docs/README.md
  docs/build.sh
  integration_tests/README.md
  integration_tests/run_tests.sh
Labels: FlowMachine, deployment, ready-to-merge

#838 Fix secrets quickstart
  .circleci/config.yml
  CHANGELOG.md
  docs/source/install.md
  flowapi/flowapi/config.py
  flowapi/tests/unit/test_secrets.py
  secrets_quickstart/docker-stack.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: FlowAPI, bug, deployment, docs, ready-to-merge

#842 Fix docstring
  flowapi/flowapi/config.py
Labels: FlowAPI

#830 Flowauth token ui change
  CHANGELOG.md
  flowauth/frontend/src/Token.js
Labels: FlowAuth, UX/UI, enhancement, ready-to-merge

#826 Add libpq runtime requirement for psycopg2 #825
  .circleci/config.yml
  CHANGELOG.md
  development_environment
  docker-compose.yml
  docs/source/install.md
  flowauth/.dockerignore
  flowauth/Dockerfile
  flowauth/backend/.coveragerc
  flowauth/backend/config.py
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/config.py
  flowauth/backend/flowauth/login.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/flowauth/token_management.py
  flowauth/backend/prestart.sh
  flowauth/backend/tests/conftest.py
  flowauth/backend/tests/test_commands.py
  flowauth/backend/tests/test_server_admin.py
  flowauth/backend/tests/test_token_admin.py
  flowauth/backend/tests/test_token_generation.py
  flowauth/backend/tests/test_user_views.py
  flowauth/docker-compose.yml
  flowauth/frontend/cypress/integration/add_new_server.js
  flowauth/frontend/cypress/integration/add_new_token.js
  flowauth/frontend/cypress/integration/add_new_user.js
  flowauth/frontend/cypress/integration/group_list.js
  flowauth/frontend/cypress/integration/login_spec.js
  flowauth/frontend/cypress/integration/logout_spec.js
  flowauth/frontend/cypress/integration/user_details_spec.js
  flowauth/frontend/cypress/support/commands.js
  flowauth/frontend/cypress/support/index.js
  flowauth/start.sh
Labels: FlowAuth, bug, docker, ready-to-merge

#840 Fix cache clear
  CHANGELOG.md
  flowmachine/flowmachine/core/cache.py
  flowmachine/tests/conftest.py
  flowmachine/tests/test_cache_utils.py
  integration_tests/tests/conftest.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
Labels: FlowMachine, bug, ready-to-merge

#845 Fix sporadic flowauth fails
  CHANGELOG.md
  flowauth/backend/flowauth/__init__.py
  flowauth/backend/flowauth/config.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/tests/test_commands.py
Labels: FlowAuth, bug, ready-to-merge

#857 Fix typo in role name
  deployment/provision-dev.yml
  deployment/provision.yml
Labels: bug, deployment, ready-to-merge

#855 Fix token button alignment
  CHANGELOG.md
  flowauth/frontend/src/Token.js
Labels: FlowAuth, UX/UI, bug, ready-to-merge

#850 Worked examples for total network objects and unique subscriber counts
  CHANGELOG.md
  docs/cache_queries.py
  docs/mkdocs.yml
  docs/source/administrator.md
  docs/source/analyst.md
  docs/source/flowclient/example_usage.ipynb
  docs/source/index.md
  docs/source/install.md
  docs/source/worked_examples/cell-towers-per-region.ipynb
  docs/source/worked_examples/commuting-patterns.ipynb
  docs/source/worked_examples/flows-above-normal.ipynb
  docs/source/worked_examples/index.md
  docs/source/worked_examples/mobile-data-usage.ipynb
  docs/source/worked_examples/unique-subscriber-counts.ipynb
Labels: docs, ready-to-merge, worked_examples

#863 JS code style #862
  .circleci/config.yml
  README.md
  flowauth/frontend/cypress/integration/add_new_server.js
  flowauth/frontend/cypress/integration/add_new_token.js
  flowauth/frontend/cypress/integration/add_new_user.js
  flowauth/frontend/cypress/integration/group_list.js
  flowauth/frontend/cypress/integration/login_spec.js
  flowauth/frontend/cypress/integration/logout_spec.js
  flowauth/frontend/cypress/integration/user_details_spec.js
  flowauth/frontend/cypress/plugins/index.js
  flowauth/frontend/cypress/support/commands.js
  flowauth/frontend/cypress/support/index.js
  flowauth/frontend/package-lock.json
  flowauth/frontend/package.json
  flowauth/frontend/src/AdminMenu.js
  flowauth/frontend/src/App.js
  flowauth/frontend/src/Dashboard.js
  flowauth/frontend/src/GroupDetails.js
  flowauth/frontend/src/GroupList.js
  flowauth/frontend/src/Login.js
  flowauth/frontend/src/MessageSnackbar.js
  flowauth/frontend/src/ServerAdminDetails.js
  flowauth/frontend/src/ServerButton.js
  flowauth/frontend/src/ServerList.js
  flowauth/frontend/src/SubmitButtons.js
  flowauth/frontend/src/Token.js
  flowauth/frontend/src/TokenDetails.js
  flowauth/frontend/src/TokenList.js
  flowauth/frontend/src/UserAdminDetails.js
  flowauth/frontend/src/UserDetails.js
  flowauth/frontend/src/UserList.js
  flowauth/frontend/src/registerServiceWorker.js
  flowauth/frontend/src/util/api.js
Labels: CI, FlowAuth, development, ready-to-merge

#865 Fix the badges
  README.md
Labels: ready-to-merge

#866 Badges
  README.md
Labels: ready-to-merge
