Repository Flowminder/FlowKit, pull requests merged in 2019-01, with the labels that each got.

#196 Remove pyproj workaround
  docs/Pipfile
  docs/Pipfile.lock
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
Labels: ready-to-merge

#227 Logging failed access attempts, and more useful logging of successful accesses
  CHANGELOG.md
  docs/source/administrator/logging.md
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/app/jwt_auth_callbacks.py
  flowapi/app/main.py
  flowapi/app/run_query.py
  flowapi/tests/unit/conftest.py
  flowapi/tests/unit/test_access_control.py
  flowapi/tests/unit/test_access_logging.py
  flowapi/tests/unit/test_get_query.py
  flowapi/tests/unit/test_list_queries.py
  flowapi/tests/unit/test_main.py
  flowapi/tests/unit/test_poll_query.py
  flowapi/tests/unit/test_run_query.py
  flowauth/backend/flowauth/token_management.py
  flowmachine/.env
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/server/zmq_interface.py
  flowmachine/tests/server/test_zmq_interface.py
  integration_tests/tests/flowmachine_server_tests/helpers.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_params.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_query_kind.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_sql.py
  integration_tests/tests/flowmachine_server_tests/test_action_poll_query.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
Labels: FlowAPI, FlowMachine, docs, enhancement, ready-to-merge

#250 Update CHANGELOG.md for release 0.1.2
  CHANGELOG.md
Labels: ready-to-merge

#257 Remove kwargs from query classes, part 1
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/join_to_location.py
  flowmachine/flowmachine/features/location/location_introversion.py
  flowmachine/flowmachine/features/location/total_events.py
  flowmachine/flowmachine/features/network/total_network_objects.py
  flowmachine/flowmachine/features/spatial/cell_mappings.py
  flowmachine/flowmachine/features/subscriber/call_days.py
  flowmachine/flowmachine/features/subscriber/contact_balance.py
  flowmachine/flowmachine/features/subscriber/daily_location.py
  flowmachine/flowmachine/features/subscriber/displacement.py
  flowmachine/flowmachine/features/subscriber/first_location.py
  flowmachine/flowmachine/features/subscriber/last_location.py
  flowmachine/flowmachine/features/subscriber/most_frequent_location.py
  flowmachine/flowmachine/features/subscriber/pareto_interactions.py
  flowmachine/flowmachine/features/subscriber/proportion_outgoing.py
  flowmachine/flowmachine/features/subscriber/scores.py
  flowmachine/flowmachine/features/subscriber/subscriber_call_durations.py
  flowmachine/flowmachine/features/subscriber/subscriber_degree.py
  flowmachine/flowmachine/features/subscriber/subscriber_tacs.py
  flowmachine/flowmachine/features/subscriber/total_subscriber_events.py
  flowmachine/flowmachine/features/utilities/__init__.py
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  flowmachine/flowmachine/features/utilities/events_tables_union.py
  flowmachine/flowmachine/features/utilities/group_values.py
  flowmachine/flowmachine/features/utilities/sets.py
  flowmachine/flowmachine/features/utilities/subscriber_locations.py
  flowmachine/flowmachine/models/louvain.py
  flowmachine/flowmachine/models/pwo.py
  flowmachine/tests/server/test_zmq_interface.py
  flowmachine/tests/test_displacement.py
  flowmachine/tests/test_event_table_subset.py
  flowmachine/tests/test_first_location.py
  flowmachine/tests/test_home_location.py
  flowmachine/tests/test_inoutflows.py
  flowmachine/tests/test_joined_aggregate.py
  flowmachine/tests/test_last_location.py
  flowmachine/tests/test_most_frequent_locations.py
  flowmachine/tests/test_pareto.py
  flowmachine/tests/test_proportion_outgoing.py
  flowmachine/tests/test_query_join.py
  flowmachine/tests/test_subscriber_call_durations.py
  flowmachine/tests/test_subscriber_degree.py
  flowmachine/tests/test_subscriber_subsetting.py
  flowmachine/tests/test_subscriber_tacs.py
  flowmachine/tests/test_to_sql.py
  flowmachine/tests/test_total_active_periods_subscriber.py
  flowmachine/tests/test_total_subscriber_events.py
Labels: FlowMachine, ready-to-merge, refactoring

#282 More threads
  CHANGELOG.md
  flowmachine/flowmachine/core/init.py
  flowmachine/tests/conftest.py
  flowmachine/tests/test_init.py
Labels: FlowMachine, enhancement, ready-to-merge

#294 Fix build of synthdata image
  flowdb/testdata/Dockerfile.synthetic_data
  flowdb/testdata/Pipfile
  flowdb/testdata/Pipfile.lock
  flowdb/testdata/bin/generate_synthetic_data.py
Labels: CI, FlowDB

#300 Fix integration tests
  CHANGELOG.md
  docker-compose-dev.yml
  flowmachine/flowmachine/core/init.py
  flowmachine/tests/test_init.py
  integration_tests/README.md
Labels: CI, FlowMachine, bug, ready-to-merge

#295 Upgrade dependencies
  .circleci/config.yml
  flowclient/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
  integration_tests/docker-compose.yml
Labels: CI, FlowClient, FlowDB, FlowMachine

#301 Add link to benchmarks in README.md
  README.md
Labels: docs, ready-to-merge

#306 Updates to documentation
  CHANGELOG.md
  docs/README.md
  docs/docs-build-containers.yml
  docs/mkdocs.yml
  docs/source/administrator/cache_management.md
  docs/source/developer/roadmap.md
  docs/source/flowclient.md
  docs/source/flowkit_sys.png
  docs/source/index.md
  docs/source/install.md
  flowmachine/flowmachine/core/server/server.py
Labels: docs

#279 Hartigan api
  CHANGELOG.md
  docker-compose.yml
  docs/source/developer/roadmap.md
  flowauth/backend/flowauth/models.py
  flowclient/flowclient/__init__.py
  flowclient/flowclient/client.py
  flowdb/tests/synth-data-tests-compose.yml
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/__init__.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/server/query_proxy.py
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/call_days.py
  flowmachine/flowmachine/features/subscriber/label_event_score.py
  flowmachine/flowmachine/features/subscriber/meaningful_locations.py
  flowmachine/flowmachine/features/subscriber/scores.py
  flowmachine/flowmachine/features/subscriber/subscriber_location_cluster.py
  flowmachine/flowmachine/utils/utils.py
  flowmachine/setup.py
  flowmachine/tests/conftest.py
  flowmachine/tests/test_calldays.py
  flowmachine/tests/test_construct_query_object.py
  flowmachine/tests/test_daily_location.py
  flowmachine/tests/test_event_table_subset.py
  flowmachine/tests/test_label_event_score.py
  flowmachine/tests/test_meaningful_locations.py
  flowmachine/tests/test_scores.py
  flowmachine/tests/test_subscriber_location_cluster.py
  integration_tests/Pipfile.lock
  integration_tests/docker-compose.yml
  integration_tests/tests/flowmachine_server_tests/conftest.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/test_queries.py
  secrets_quickstart/docker-stack.yml
Labels: FlowAPI, FlowClient, FlowMachine, enhancement

#284 Event count
  flowmachine/flowmachine/core/errors/flowmachine_errors.py
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/event_count.py
  flowmachine/tests/test_subscriber_event_count.py
Labels: enhancement
