Repository Flowminder/FlowKit, pull requests merged in 2020-02, with the labels that each got.

#1904 Pre release
  .circleci/config.yml
  autoflow/setup.cfg
  flowapi/setup.cfg
  flowauth/backend/setup.cfg
  flowclient/setup.cfg
  flowdb/testdata/Dockerfile
  flowdb/testdata/Dockerfile.synthetic_data
  flowetl/flowetl/setup.cfg
  flowkit_jwt_generator/setup.cfg
  flowmachine/setup.cfg
Labels: CI, development, ready-to-merge

#1918 Unblock the server
  CHANGELOG.md
  docs/source/administrator/deployment.md
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/dummy_query.py
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/flowmachine/core/server/query_schemas/dummy_query.py
  flowmachine/flowmachine/core/server/query_schemas/flowmachine_query.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/server/server_config.py
  flowmachine/flowmachine/core/server/utils.py
  flowmachine/tests/server/conftest.py
  flowmachine/tests/server/test_action_handlers.py
  flowmachine/tests/server/test_query_logging.py
  flowmachine/tests/server/test_server_config.py
  flowmachine/tests/server/test_zmq_helpers.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_action_get_available_dates.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_params.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_query_kind.py
  integration_tests/tests/flowmachine_server_tests/test_action_get_sql.py
  integration_tests/tests/flowmachine_server_tests/test_action_poll_query.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  secrets_quickstart/flowmachine.yml
Labels: FlowMachine, enhancement, ready-to-merge

#1909 Use etl records to determine available dates
  CHANGELOG.md
  flowdb/testdata/bin/generate_synthetic_data.py
  flowdb/testdata/bin/generate_synthetic_data_sql.py
  flowdb/testdata/synthetic_data/sql/ingest_calls.sql
  flowdb/testdata/test_data/sql/ingest_calls.sql
  flowdb/testdata/test_data/sql/ingest_mds.sql
  flowdb/testdata/test_data/sql/ingest_sms.sql
  flowdb/testdata/test_data/sql/ingest_topup.sql
  flowmachine/flowmachine/core/connection.py
  flowmachine/flowmachine/core/init.py
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  flowmachine/tests/test_class_database.py
  flowmachine/tests/test_to_sql.py
  flowmachine/tests/test_update_available_dates.py
  integration_tests/tests/flowapi_tests/test_available_dates.tavern.yaml
  integration_tests/tests/flowmachine_server_tests/test_action_get_available_dates.py
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowMachine, enhancement, ready-to-merge, refactoring

#1951 Switch to 3.8 main and add 3.9 dev on travis
  .travis.yml
Labels: CI

#1948 Update FlowAuth demo data
  flowauth/backend/flowauth/models.py
Labels: FlowAuth, ready-to-merge, worked_examples

#1939 New worked example
  CHANGELOG.md
  docs/Pipfile.lock
  docs/mkdocs.yml
  docs/notebook_preamble.py
  docs/source/analyst/worked_examples/index.md
  docs/source/analyst/worked_examples/joined-spatial-aggregate.ipynb
Labels: docs, ready-to-merge, worked_examples

#1937 Bump versions
  .circleci/config.yml
  autoflow/Pipfile
  autoflow/Pipfile.lock
  autoflow/setup.py
  deployment/Pipfile.lock
  docs/Pipfile
  docs/Pipfile.lock
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/setup.py
  flowauth/Pipfile.lock
  flowauth/backend/tests/test_auth.py
  flowclient/Pipfile.lock
  flowdb/Dockerfile
  flowdb/oracle_fdw/Dockerfile
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowetl/Dockerfile
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
Labels: ready-to-merge

#1953 Install descartes in worked examples Dockerfile
  Dockerfile
Labels: dependencies, ready-to-merge, worked_examples

#1968 Add a delay to 2factor tests if the code is about to expire
  flowauth/backend/tests/conftest.py
  flowauth/backend/tests/test_two_factor.py
Labels: CI, FlowAuth, bug, ready-to-merge, tests

#2008 Bump postgres upstream image
  flowdb/Dockerfile
Labels: FlowDB

#2009 Reorder dockerfile
  flowdb/Dockerfile
  flowdb/oracle_fdw/Dockerfile
Labels: FlowDB, bug, docker, ready-to-merge

#2018 Bump python deps
  autoflow/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: ready-to-merge
