Repository Flowminder/FlowKit, pull requests merged in 2020-01, with the labels that each got.

#1748 Fix redacted joined spatial aggregate
  CHANGELOG.md
  flowmachine/flowmachine/features/location/redacted_joined_spatial_aggregate.py
  flowmachine/tests/test_redacted_joined_spatial_aggregate.py
Labels: FlowMachine, bug, ready-to-merge

#1753 Use Bundler to manage AutoFlow Ruby dependencies
  .circleci/config.yml
  CHANGELOG.md
  autoflow/.dockerignore
  autoflow/Dockerfile
  autoflow/Gemfile
  autoflow/Gemfile.lock
  docs/source/developer/dev_environment_setup.md
  docs/source/install.md
  integration_tests/Gemfile
  integration_tests/Gemfile.lock
  integration_tests/run_tests.sh
Labels: AutoFlow, CI, dependencies, ready-to-merge

#1744 Add tds_fdw
  CHANGELOG.md
  flowdb/Dockerfile
  flowdb/bin/build/0010_create_extensions.sh
  flowdb/tests/test_extensions.py
Labels: FlowDB, enhancement, ready-to-merge

#1229 Dogpile cache
  .circleci/config.yml
  CHANGELOG.md
  docs/source/administrator/index.md
  flowauth/Dockerfile
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowauth/backend/flowauth/config.py
  flowauth/backend/flowauth/models.py
  flowauth/backend/flowauth/user_settings.py
  flowauth/backend/setup.py
  flowauth/backend/tests/test_get_cache_backend.py
  flowauth/backend/uwsgi.ini
  flowauth/frontend/cypress/integration/two_factor_auth.js
  flowauth/frontend/src/Login.jsx
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
Labels: FlowAuth, bug, enhancement, ready-to-merge, security

#1772 Fix IPVS cutting idle connections to flowdb
  CHANGELOG.md
  flowdb/bin/build/pg_config_template.conf
Labels: FlowDB, FlowETL, bug, docker, ready-to-merge

#1773 Consistent date range end-dates in FlowClient and AutoFlow
  CHANGELOG.md
  autoflow/autoflow/date_stencil.py
  autoflow/examples/inputs/flows_report.ipynb
  autoflow/examples/inputs/run_flows.ipynb
  autoflow/examples/inputs/workflows.yml
  autoflow/tests/schema_tests/test_custom_fields.py
  autoflow/tests/test_date_stencil.py
  autoflow/tests/test_parser.py
  autoflow/tests/test_sensor.py
  docs/source/analyst/advanced_usage/worked_examples/mobile-data-usage.ipynb
  docs/source/analyst/autoflow.md
  docs/source/analyst/worked_examples/commuting-patterns.ipynb
  flowclient/flowclient/client.py
Labels: AutoFlow, FlowClient, ready-to-merge

#1705 Remove override of AIRFLOW__CORE__SQL_ALCHEMY_CONN
  CHANGELOG.md
  development_environment
  docker-compose.yml
  flowetl/Dockerfile
  flowetl/deployment_example/docker-stack-flowkit.yml
  flowetl/entrypoint.sh
  flowetl/tests/integration/conftest.py
  flowetl/tests/integration/test_dag_run.py
  flowetl/tests/integration/test_dags_present.py
  flowetl/tests/integration/test_fixuid.py
  flowetl/tests/integration/test_full_pipeline.py
  flowetl/tests/integration/test_security_setup.py
Labels: FlowETL, ready-to-merge, security

#1794 Contributing and support docs
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  CHANGELOG.md
Labels: development, docs, ready-to-merge

#1817 Fix adding api routes to servers
  CHANGELOG.md
  development_environment
  flowauth/backend/flowauth/admin.py
  flowauth/backend/tests/test_capability_admin.py
  flowauth/frontend/src/ServerAdminDetails.jsx
Labels: FlowAuth, bug, ready-to-merge

#1801 FlowAuth stackfile #641
  docs/source/install.md
  flowauth/docker-compose.letsencrypt.yml
  flowauth/docker-compose.yml
  secrets_quickstart/docker-stack.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: FlowAuth, deployment, enhancement, ready-to-merge

#1818 Read access in etl schema
  CHANGELOG.md
  flowdb/bin/build/9000_last_create_roles.sh
Labels: FlowDB, ready-to-merge

#1852 Prod docs
  .circleci/config.yml
  .gitignore
  autoflow/autoflow/sensor.py
  autoflow/docker-stack.yml
  autoflow/examples/inputs/flows_report.ipynb
  autoflow/examples/inputs/run_flows.ipynb
  autoflow/tests/test_sensor.py
  development_environment
  docs/Pipfile
  docs/Pipfile.lock
  docs/mkdocs.yml
  docs/source/administrator/deployment.md
  docs/source/administrator/index.md
  docs/source/administrator/management/cache.md
  docs/source/administrator/management/etl/etl.md
  docs/source/administrator/management/logging.md
  docs/source/administrator/management/users.md
  docs/source/analyst/advanced_usage/index.md
  docs/source/analyst/advanced_usage/worked_examples/mobile-data-usage.ipynb
  docs/source/analyst/autoflow.md
  docs/source/analyst/flowclient/example_usage.ipynb
  docs/source/analyst/worked_examples/cell-towers-per-region.ipynb
  docs/source/analyst/worked_examples/commuting-patterns.ipynb
  docs/source/analyst/worked_examples/flows-above-normal.ipynb
  docs/source/analyst/worked_examples/unique-subscriber-counts.ipynb
  docs/source/developer/dev_environment_setup.md
  docs/source/developer/index.md
  docs/source/install.md
  flowapi/start.sh
  flowauth/docker-compose.yml
  flowetl/flowetl/flowetl/__init__.py
  flowetl/flowetl/flowetl/mixins/__init__.py
  flowetl/flowetl/flowetl/mixins/fixed_sql_mixin.py
  flowetl/flowetl/flowetl/mixins/fixed_sql_with_params_mixin.py
  flowetl/flowetl/flowetl/mixins/table_name_macros_mixin.py
  flowetl/flowetl/flowetl/mixins/wrapping_sql_mixin.py
  flowetl/flowetl/flowetl/operators/__init__.py
  flowetl/flowetl/flowetl/operators/analyze_operator.py
  flowetl/flowetl/flowetl/operators/create_foreign_staging_table_operator.py
  flowetl/flowetl/flowetl/sensors/__init__.py
  flowetl/flowetl/flowetl/sensors/file_flux_sensor.py
  secrets_quickstart/docker-stack.yml
  secrets_quickstart/flowapi.yml
  secrets_quickstart/flowdb.yml
  secrets_quickstart/flowetl.yml
  secrets_quickstart/flowmachine.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: docs, ready-to-merge
