Repository Flowminder/FlowKit, pull requests merged in 2020-03, with the labels that each got.

#2012 Update worked examples
  docs/notebook_preamble.py
  docs/source/analyst/worked_examples/flows-above-normal.ipynb
Labels: docs, ready-to-merge, worked_examples

#1979 Quart update
  autoflow/Pipfile.lock
  docs/Pipfile
  docs/Pipfile.lock
  docs/notebook_preamble.py
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/flowapi/api_spec.py
  flowapi/flowapi/config.py
  flowapi/flowapi/geography.py
  flowapi/flowapi/jwt_auth_callbacks.py
  flowapi/flowapi/main.py
  flowapi/flowapi/query_endpoints.py
  flowapi/flowapi/user_model.py
  flowapi/setup.py
  flowapi/tests/unit/test_poll_query.py
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowetl/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
  integration_tests/tests/conftest.py
Labels: FlowAPI

#1999 Singleton
  CHANGELOG.md
  flowmachine/flowmachine/__init__.py
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/connection.py
  flowmachine/flowmachine/core/context.py
  flowmachine/flowmachine/core/dependency_graph.py
  flowmachine/flowmachine/core/dummy_query.py
  flowmachine/flowmachine/core/init.py
  flowmachine/flowmachine/core/mixins/geodata_mixin.py
  flowmachine/flowmachine/core/model_result.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/query_info_lookup.py
  flowmachine/flowmachine/core/query_state.py
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/spatial_unit.py
  flowmachine/flowmachine/core/table.py
  flowmachine/flowmachine/features/network/total_network_objects.py
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  flowmachine/flowmachine/features/utilities/events_tables_union.py
  flowmachine/flowmachine/features/utilities/sets.py
  flowmachine/setup.py
  flowmachine/tests/conftest.py
  flowmachine/tests/server/conftest.py
  flowmachine/tests/server/test_action_handlers.py
  flowmachine/tests/server/test_query_logging.py
  flowmachine/tests/test_async.py
  flowmachine/tests/test_cache.py
  flowmachine/tests/test_cache_utils.py
  flowmachine/tests/test_class_database.py
  flowmachine/tests/test_context.py
  flowmachine/tests/test_geomixin.py
  flowmachine/tests/test_indexes.py
  flowmachine/tests/test_init.py
  flowmachine/tests/test_query.py
  flowmachine/tests/test_query_state.py
  flowmachine/tests/test_subscriber_subsetting.py
  flowmachine/tests/test_to_sql.py
  flowmachine/tests/test_utils.py
  integration_tests/tests/conftest.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
Labels: FlowMachine, enhancement, refactoring

#2052 Fix query rerun
  CHANGELOG.md
  flowmachine/flowmachine/core/query_info_lookup.py
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/tests/server/test_action_handlers.py
Labels: FlowMachine, bug

#2084 Bump python deps
  autoflow/Dockerfile
  autoflow/Pipfile.lock
  deployment/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies, ready-to-merge

#2054 Nix dead links in per-project readmes
  flowapi/README.md
  flowauth/README.md
  flowclient/README.md
  flowdb/README.md
  flowetl/README.md
  flowkit_jwt_generator/README.md
  flowmachine/README.md
Labels: docs, ready-to-merge

#2058 Add a plugin to autoretry cypress tests, cos they can be a bit flaky
  flowauth/frontend/cypress.json
  flowauth/frontend/package-lock.json
  flowauth/frontend/package.json
Labels: CI, FlowAuth, ready-to-merge, tests

#2053 Remove some unused schemas
  CHANGELOG.md
  docs/Pipfile.lock
  flowdb/bin/build/0020_schema_other.sql
  flowdb/bin/build/9000_last_create_roles.sh
  integration_tests/Pipfile.lock
Labels: FlowDB, ready-to-merge, refactoring

#2063 Direction enum
  CHANGELOG.md
  flowmachine/flowmachine/features/location/location_introversion.py
  flowmachine/flowmachine/features/location/redacted_location_introversion.py
  flowmachine/flowmachine/features/location/redacted_total_events.py
  flowmachine/flowmachine/features/location/total_events.py
  flowmachine/flowmachine/features/subscriber/contact_balance.py
  flowmachine/flowmachine/features/subscriber/contact_reciprocal.py
  flowmachine/flowmachine/features/subscriber/distance_counterparts.py
  flowmachine/flowmachine/features/subscriber/entropy.py
  flowmachine/flowmachine/features/subscriber/event_count.py
  flowmachine/flowmachine/features/subscriber/event_type_proportion.py
  flowmachine/flowmachine/features/subscriber/interevent_interval.py
  flowmachine/flowmachine/features/subscriber/interevent_period.py
  flowmachine/flowmachine/features/subscriber/nocturnal_events.py
  flowmachine/flowmachine/features/subscriber/pareto_interactions.py
  flowmachine/flowmachine/features/subscriber/per_location_event_stats.py
  flowmachine/flowmachine/features/subscriber/subscriber_call_durations.py
  flowmachine/flowmachine/features/subscriber/subscriber_degree.py
  flowmachine/flowmachine/features/utilities/direction_enum.py
  flowmachine/flowmachine/features/utilities/sets.py
  flowmachine/flowmachine/utils.py
  flowmachine/tests/test_events_table_union.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
  flowmachine/tests/test_subscriber_call_durations.py
Labels: FlowMachine, ready-to-merge, refactoring

#2121 Fix FlowAuth demo data
  CHANGELOG.md
  flowapi/flowapi/permissions.py
  flowauth/backend/flowauth/models.py
Labels: FlowAPI, FlowAuth, bug, ready-to-merge, worked_examples

#2129 Fix flows permissions display
  CHANGELOG.md
  flowauth/frontend/src/util/util.js
Labels: FlowAuth, UX/UI, bug, ready-to-merge

#2095 Progress
  CHANGELOG.md
  flowapi/flowapi/query_endpoints.py
  flowapi/tests/unit/test_access_control.py
  flowapi/tests/unit/test_poll_query.py
  flowapi/tests/unit/test_run_query.py
  flowclient/flowclient/client.py
  flowclient/tests/unit/test_get_status.py
  flowclient/tests/unit/test_query_ready.py
  flowmachine/flowmachine/core/dependency_graph.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/server/action_handlers.py
  flowmachine/tests/test_dependency_graph.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_action_poll_query.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
Labels: FlowAPI, FlowClient, enhancement, ready-to-merge

#2181 Flowclient query objects
  CHANGELOG.md
  autoflow/Pipfile.lock
  autoflow/examples/inputs/run_flows.ipynb
  docs/Pipfile.lock
  docs/source/analyst/flowclient/example_usage.ipynb
  docs/source/analyst/worked_examples/cell-towers-per-region.ipynb
  docs/source/analyst/worked_examples/commuting-patterns.ipynb
  docs/source/analyst/worked_examples/flows-above-normal.ipynb
  docs/source/analyst/worked_examples/joined-spatial-aggregate.ipynb
  docs/source/analyst/worked_examples/unique-subscriber-counts.ipynb
  flowapi/flowapi/query_endpoints.py
  flowclient/Pipfile
  flowclient/Pipfile.lock
  flowclient/flowclient/__init__.py
  flowclient/flowclient/aggregates.py
  flowclient/flowclient/api_query.py
  flowclient/flowclient/client.py
  flowclient/setup.py
  flowclient/tests/unit/test_api_query.py
  flowclient/tests/unit/test_connection.py
  flowclient/tests/unit/test_get_status.py
  flowclient/tests/unit/test_queries.py
  flowclient/tests/unit/test_query_ready.py
  integration_tests/Pipfile.lock
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, enhancement, ready-to-merge

#2203 Fix flowetl secrets
  flowetl/entrypoint.sh
  secrets_quickstart/flowetl.yml
Labels: FlowETL, ready-to-merge
