Repository Flowminder/FlowKit, pull requests merged in 2020-06, with the labels that each got.

#2624 Server caps
  flowauth/backend/flowauth/servers.py
Labels: FlowAuth, enhancement, performance

#2626 Compressed claims
  .circleci/config.yml
  CHANGELOG.md
  autoflow/Pipfile.lock
  deployment/Pipfile.lock
  docs/Pipfile.lock
  flowapi.Dockerfile.dockerignore
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/flowapi/jwt.py
  flowapi/flowapi/user_model.py
  flowauth.Dockerfile
  flowauth.Dockerfile.dockerignore
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowauth/backend/flowauth/jwt.py
  flowauth/backend/flowauth/token_management.py
  flowauth/backend/tests/test_token_generation.py
  flowclient/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowkit_jwt_generator/Pipfile
  flowkit_jwt_generator/Pipfile.lock
  flowkit_jwt_generator/flowkit_jwt_generator/cli.py
  flowkit_jwt_generator/flowkit_jwt_generator/jwt.py
  flowkit_jwt_generator/setup.py
  flowkit_jwt_generator/tests/test_cli.py
  flowkit_jwt_generator/tests/test_generator.py
  flowkit_jwt_generator/tests/test_plugins.py
  flowmachine/Pipfile.lock
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
Labels: FlowAPI, FlowAuth, enhancement, flowkit-jwt-generator

#2628 Timestamp qa checks
  CHANGELOG.md
  flowetl/flowetl/flowetl/qa_checks/qa_checks/earliest_timestamp.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/latest_timestamp.sql
  flowetl/tests/integration/test_dags_present.py
  flowetl/tests/integration/test_full_pipeline.py
  flowetl/tests/integration/test_qa.py
Labels: FlowETL, enhancement, ready-to-merge

#2606 Synth data improvements
  autoflow/Pipfile.lock
  deployment/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/bin/build/0020_schema_geography.sql
  flowdb/bin/build/0030_utilities.sql
  flowdb/testdata/bin/generate_synthetic_data_sql.py
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
Labels: FlowDB, enhancement

#2632 Expose 'event_types' parameters
  CHANGELOG.md
  flowclient/flowclient/aggregates.py
  flowclient/flowclient/query_specs.py
  flowmachine/flowmachine/core/server/query_schemas/consecutive_trips_od_matrix.py
  flowmachine/flowmachine/core/server/query_schemas/custom_fields.py
  flowmachine/flowmachine/core/server/query_schemas/daily_location.py
  flowmachine/flowmachine/core/server/query_schemas/displacement.py
  flowmachine/flowmachine/core/server/query_schemas/handset.py
  flowmachine/flowmachine/core/server/query_schemas/location_introversion.py
  flowmachine/flowmachine/core/server/query_schemas/meaningful_locations.py
  flowmachine/flowmachine/core/server/query_schemas/modal_location.py
  flowmachine/flowmachine/core/server/query_schemas/nocturnal_events.py
  flowmachine/flowmachine/core/server/query_schemas/pareto_interactions.py
  flowmachine/flowmachine/core/server/query_schemas/radius_of_gyration.py
  flowmachine/flowmachine/core/server/query_schemas/subscriber_degree.py
  flowmachine/flowmachine/core/server/query_schemas/total_network_objects.py
  flowmachine/flowmachine/core/server/query_schemas/trips_od_matrix.py
  flowmachine/flowmachine/core/server/query_schemas/unique_location_counts.py
  flowmachine/flowmachine/core/server/query_schemas/unique_locations.py
  flowmachine/flowmachine/core/server/query_schemas/unique_subscriber_counts.py
  flowmachine/flowmachine/features/network/total_network_objects.py
  flowmachine/tests/test_query_object_construction.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_action_get_sql.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_get_geo_sql.py
  integration_tests/tests/flowmachine_server_tests/test_helper_functions.py
  integration_tests/tests/flowmachine_server_tests/test_server.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowAPI, FlowClient, FlowMachine, enhancement, ready-to-merge

#2652 Fix 'count duplicates' QA check
  CHANGELOG.md
  flowetl/flowetl/flowetl/qa_checks/qa_checks/count_duplicates.sql
Labels: FlowETL, bug, ready-to-merge

#2746 Flowauth issuer
  CHANGELOG.md
  flowauth/backend/flowauth/config.py
  flowauth/backend/flowauth/user_settings.py
Labels: FlowAuth, UX/UI, enhancement
