Repository Flowminder/FlowKit, pull requests merged in 2020-10, with the labels that each got.

#3115 Logging fixes
  CHANGELOG.md
  flowapi/flowapi/query_endpoints.py
Labels: FlowAPI, security

#3113 Limited subsetting
  CHANGELOG.md
  flowmachine/flowmachine/core/server/query_schemas/consecutive_trips_od_matrix.py
  flowmachine/flowmachine/core/server/query_schemas/custom_fields.py
  flowmachine/flowmachine/core/server/query_schemas/daily_location.py
  flowmachine/flowmachine/core/server/query_schemas/displacement.py
  flowmachine/flowmachine/core/server/query_schemas/event_count.py
  flowmachine/flowmachine/core/server/query_schemas/handset.py
  flowmachine/flowmachine/core/server/query_schemas/location_event_counts.py
  flowmachine/flowmachine/core/server/query_schemas/meaningful_locations.py
  flowmachine/flowmachine/core/server/query_schemas/nocturnal_events.py
  flowmachine/flowmachine/core/server/query_schemas/pareto_interactions.py
  flowmachine/flowmachine/core/server/query_schemas/radius_of_gyration.py
  flowmachine/flowmachine/core/server/query_schemas/subscriber_degree.py
  flowmachine/flowmachine/core/server/query_schemas/subscriber_subset.py
  flowmachine/flowmachine/core/server/query_schemas/topup_amount.py
  flowmachine/flowmachine/core/server/query_schemas/topup_balance.py
  flowmachine/flowmachine/core/server/query_schemas/trips_od_matrix.py
  flowmachine/flowmachine/core/server/query_schemas/unique_location_counts.py
  flowmachine/flowmachine/core/server/query_schemas/unique_locations.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
Labels: FlowAPI, FlowMachine, enhancement

#3117 Faster cache shrink
  CHANGELOG.md
  flowmachine/flowmachine/core/cache.py
  flowmachine/tests/test_cache_utils.py
Labels: FlowMachine, performance

#3129 More cache prune speedup
  flowapi/flowapi/jwt_auth_callbacks.py
  flowapi/flowapi/main.py
  flowapi/tests/unit/test_access_control.py
  flowapi/tests/unit/test_access_logging.py
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/context.py
  flowmachine/flowmachine/core/logging.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/server/server.py
  flowmachine/flowmachine/core/table.py
  flowmachine/tests/server/test_query_logging.py
  flowmachine/tests/test_cache_utils.py
Labels: FlowMachine, performance, refactoring

#3148 Non server subsets
  CHANGELOG.md
  flowclient/flowclient/aggregates.py
  flowclient/flowclient/query_specs.py
  flowmachine/flowmachine/core/server/query_schemas/location_introversion.py
  flowmachine/flowmachine/core/server/query_schemas/subscriber_subset.py
  flowmachine/flowmachine/core/server/query_schemas/total_active_periods.py
  flowmachine/flowmachine/core/server/query_schemas/total_network_objects.py
  flowmachine/flowmachine/core/server/query_schemas/unique_subscriber_counts.py
  flowmachine/flowmachine/features/location/unique_subscriber_counts.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
Labels: FlowClient, FlowMachine, enhancement

#3156 Made link to admin docs explicit to help Mkdocs with resolving
  CHANGELOG.md
  docs/source/install.md
Labels: bug, docs, ready-to-merge
