Repository Flowminder/FlowKit, pull requests merged in 2021-12, with the labels that each got.

#4616 Exposing Majority Location and LocationCount
  flowauth/frontend/cypress.json
  flowclient/flowclient/__init__.py
  flowclient/flowclient/query_specs.py
  flowmachine/flowmachine/core/server/query_schemas/flows.py
  flowmachine/flowmachine/core/server/query_schemas/location_visits.py
  flowmachine/flowmachine/core/server/query_schemas/majority_location.py
  flowmachine/flowmachine/core/server/query_schemas/modal_location.py
  flowmachine/flowmachine/core/server/query_schemas/reference_location.py
  flowmachine/flowmachine/features/subscriber/majority_location.py
  flowmachine/tests/test_majority_location.py
  flowmachine/tests/test_query_object_construction.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: enhancement, FlowClient, FlowMachine, ready-to-merge

#4677 Implementing labelling disaggregation
  CHANGELOG.md
  docs/source/developer/adr/0011-redaction-strategy-for-labelled-aggregates.md
  flowmachine/flowmachine/core/spatial_unit.py
  flowmachine/flowmachine/features/location/labelled_spatial_aggregate.py
  flowmachine/flowmachine/features/location/redacted_labelled_spatial_aggregate.py
  flowmachine/tests/test_labelled_spatial_aggregate.py
  flowmachine/tests/test_redacted_labelled_spatial_aggregate.py
Labels: enhancement, FlowMachine, ready-to-merge

#4672 Mobility classification
  CHANGELOG.md
  flowmachine/flowmachine/features/subscriber/mobility_classification.py
  flowmachine/flowmachine/features/subscriber/subscriber_stay_lengths.py
  flowmachine/tests/test_mobility_classification.py
  flowmachine/tests/test_subscriber_stay_lengths.py
Labels: enhancement, FlowMachine, ready-to-merge

#4647 Creating CoalescedLocationExposed
  CHANGELOG.md
  flowapi/flowapi/api_spec.py
  flowapi/flowapi/permissions.py
  flowapi/tests/unit/test_permissions.py
  flowclient/flowclient/__init__.py
  flowclient/flowclient/query_specs.py
  flowmachine/flowmachine/core/server/query_schemas/coalesced_location.py
  flowmachine/flowmachine/core/server/query_schemas/majority_location.py
  flowmachine/flowmachine/core/server/query_schemas/reference_location.py
  flowmachine/tests/test_query_object_construction.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowMachine, ready-to-merge, development

#4493 Fix cannot uncache novel objs
  CHANGELOG.md
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/query.py
  flowmachine/tests/test_cache.py
Labels: bug, FlowMachine, ready-to-merge, Needs Review

#4697 Redacted spatial aggregate
  CHANGELOG.md
  flowmachine/flowmachine/features/location/redacted_labelled_aggregate.py
  flowmachine/flowmachine/features/location/redacted_labelled_flows.py
  flowmachine/flowmachine/features/location/redacted_labelled_spatial_aggregate.py
  flowmachine/tests/test_labelled_flows.py
  flowmachine/tests/test_redacted_labelled_spatial_aggregate.py
Labels: enhancement, FlowMachine, ready-to-merge

#4705 Release 1.16.0
  CHANGELOG.md
Labels: ready-to-merge, release
