Repository Flowminder/FlowKit, pull requests merged in 2021-11, with the labels that each got.

#4449 Split autoflow into separate compose to avoid quickstart issues
  CHANGELOG.md
  Makefile
  docker-compose.autoflow.yml
  docker-compose.yml
Labels: bug, ready-to-merge, quick-start-script, AutoFlow, Needs Review

#4463 Fix/#4267 add visited on most days query
  .pre-commit-config.yaml
  CHANGELOG.md
  flowauth/frontend/cypress.json
  flowmachine/flowmachine/core/server/query_schemas/reference_location.py
  flowmachine/flowmachine/core/server/query_schemas/visited_most_days.py
  flowmachine/flowmachine/features/__init__.py
  flowmachine/flowmachine/features/subscriber/__init__.py
  flowmachine/flowmachine/features/subscriber/visited_most_days.py
  flowmachine/tests/test_visited_most_days.py
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
Labels: enhancement, FlowMachine, ready-to-merge

#4496 Pin pipenv because of https://github.com/pypa/pipenv/issues/4838
  flowapi.Dockerfile
Labels: bug, FlowAPI

#4486 Implementing UniqueSubscribersFromQueries
  CHANGELOG.md
  flowmachine/flowmachine/core/errors/__init__.py
  flowmachine/flowmachine/features/utilities/unique_values_from_queries.py
  flowmachine/tests/test_unique_values_from_queries.py
Labels: enhancement, FlowMachine, ready-to-merge, development

#4485 Introducing ExposedDatetimeMixin
  CHANGELOG.md
  flowmachine/flowmachine/core/mixins/__init__.py
  flowmachine/flowmachine/core/mixins/exposed_datetime_mixin.py
  flowmachine/flowmachine/utils.py
  flowmachine/tests/test_exposed_datetime_mixin.py
  flowmachine/tests/test_utils.py
Labels: enhancement, FlowMachine, ready-to-merge

#4481 Active subscribers
  flowmachine/flowmachine/features/subscriber/active_subscribers.py
  flowmachine/tests/conftest.py
  flowmachine/tests/test_active_subscribers.py
Labels: enhancement, FlowMachine, ready-to-merge

#4525 Combine first
  CHANGELOG.md
  flowmachine/flowmachine/features/subscriber/coalesced_location.py
  flowmachine/flowmachine/features/utilities/combine_first.py
  flowmachine/flowmachine/features/utilities/subscriber_locations.py
  flowmachine/tests/test_coalesced_location.py
  flowmachine/tests/test_combine_first.py
Labels: enhancement, FlowMachine, ready-to-merge

#4523 Initial implementation of `MajorityLocation` and test
  CHANGELOG.md
  flowmachine/flowmachine/features/location/majority_location.py
  flowmachine/tests/test_majority_location.py
Labels: enhancement, FlowMachine, ready-to-merge

#4558 Adding join_type param to flows + test.
  CHANGELOG.md
  flowmachine/flowmachine/features/location/flows.py
  flowmachine/tests/test_flows.py
Labels: enhancement, FlowMachine, ready-to-merge

#4560 Per subscriber aggregate
  CHANGELOG.md
  flowmachine/flowmachine/features/subscriber/per_subscriber_aggregate.py
  flowmachine/tests/test_per_subscriber_aggregate.py
Labels: enhancement, FlowMachine, ready-to-merge

#4551 More FlowETL QA checks
  CHANGELOG.md
  flowetl/flowetl/MANIFEST.in
  flowetl/flowetl/flowetl/qa_checks/qa_checks/calls/count_added_rows_outgoing.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/calls/count_null_counterparts.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/calls/count_null_durations.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/calls/count_onnet_msisdns.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/calls/count_onnet_msisdns_incoming.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/calls/count_onnet_msisdns_outgoing.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/calls/max_duration.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/calls/median_duration.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/count_imeis.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/count_imsis.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/count_locatable_location_ids.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/count_null_imeis.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/count_null_imsis.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/count_null_location_ids.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/max_msisdns_per_imei.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/max_msisdns_per_imsi.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/sms/count_added_rows_outgoing.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/sms/count_null_counterparts.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/sms/count_onnet_msisdns.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/sms/count_onnet_msisdns_incoming.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/sms/count_onnet_msisdns_outgoing.sql
  flowetl/tests/integration/test_dags_present.py
  flowetl/tests/integration/test_full_pipeline.py
  flowetl/tests/integration/test_qa.py
Labels: ready-to-merge, FlowETL

#4589 Exposing flows(join_type) param
  flowclient/flowclient/aggregates.py
  flowmachine/flowmachine/core/server/query_schemas/flows.py
  flowmachine/flowmachine/features/location/flows.py
  flowmachine/tests/test_flows.py
  flowmachine/tests/test_query_object_construction.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_json_spec.approved.txt
  integration_tests/tests/flowapi_tests/test_api_spec.test_generated_openapi_yaml_spec.approved.txt
  integration_tests/tests/flowmachine_server_tests/test_server.test_api_spec_of_flowmachine_query_schemas.approved.txt
  integration_tests/tests/query_tests/test_queries.py
Labels: FlowClient, FlowMachine, ready-to-merge

#4593 Union many
  CHANGELOG.md
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/union.py
  flowmachine/tests/test_query_union.py
Labels: enhancement, FlowMachine, ready-to-merge, Needs Review

#4640 Upgrade pip to fix flowauth build, fix wrong sqlalchemy version
  .circleci/config.yml
  flowauth.Dockerfile
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowauth/backend/setup.py
Labels: bug, FlowAuth, development

#4641 Update mentions of flowauth db uri
  docs/source/administrator/deployment.md
  flowauth/docker-compose.yml
Labels: ready-to-merge

#4626 Visit count filtered reference location
  CHANGELOG.md
  flowmachine/flowmachine/features/subscriber/filtered_reference_location.py
  flowmachine/flowmachine/features/subscriber/location_visits.py
  flowmachine/tests/test_filtered_reference_location.py
  flowmachine/tests/test_location_visits.py
  flowmachine/tests/test_majority_location.py
Labels: enhancement, FlowMachine, ready-to-merge
