Repository Flowminder/FlowKit, pull requests merged in 2022-06, with the labels that each got.

#5212 Pin react back to 17
  flowauth/frontend/package-lock.json
  flowauth/frontend/package.json
Labels: FlowAuth, dependencies, CI

#5012 Airflow celery
  development_environment
  docker-compose.yml
  docs/source/administrator/deployment.md
  flowetl.Dockerfile
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/entrypoint.sh
  flowetl/mounts/dags/test_dag.py
  flowetl/tests/integration/conftest.py
  flowetl/tests/integration/test_dags_present.py
  secrets_quickstart/flowetl.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: enhancement, docs, ready-to-merge, docker, FlowETL, quick-start-script

#4550 Docs versions
  .circleci/config.yml
  docs/Pipfile
  docs/Pipfile.lock
  docs/mkdocs.yml
  docs/source/changelog.md
Labels: docs, Needs Review

#5172 Remove Model
  CHANGELOG.md
  flowmachine/flowmachine/__init__.py
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/model.py
  flowmachine/flowmachine/core/model_result.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/models/__init__.py
  flowmachine/flowmachine/models/louvain.py
  flowmachine/tests/test_cache_utils.py
  flowmachine/tests/test_model.py
  flowmachine/tests/test_models_louvain.py
Labels: FlowMachine, refactoring, ready-to-merge

#5214 Fix inflows out
  CHANGELOG.md
  flowmachine/flowmachine/core/server/query_schemas/flows.py
  flowmachine/flowmachine/core/server/query_schemas/inflows.py
  flowmachine/flowmachine/features/location/flows.py
  flowmachine/flowmachine/features/location/labelled_flows.py
  flowmachine/flowmachine/features/location/redacted_flows.py
  flowmachine/flowmachine/features/location/redacted_in_out_flows.py
  flowmachine/flowmachine/features/location/redacted_meaningful_locations_aggregate.py
  flowmachine/flowmachine/features/location/redacted_total_events.py
  flowmachine/flowmachine/features/location/redacted_unique_subscriber_counts.py
  flowmachine/flowmachine/features/location/redacted_unmoving_at_reference_location_counts.py
  flowmachine/flowmachine/features/location/redacted_unmoving_counts.py
  flowmachine/tests/test_flows.py
  flowmachine/tests/test_inoutflows.py
  flowmachine/tests/test_labelled_flows.py
  flowmachine/tests/test_query_object_construction.test_construct_query.approved.txt
Labels: bug, FlowMachine, ready-to-merge

#5186 Bump oracle fdw to 2.4.0
  flowdb_oracle_fdw.Dockerfile
Labels: FlowDB, ready-to-merge

#5246 Bump python deps
  autoflow/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies, ready-to-merge

#5228 No more threadlocal
  .circleci/config.yml
  CHANGELOG.md
  autoflow/Pipfile.lock
  deployment/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowdb/testdata/bin/generate_synthetic_data.py
  flowdb/testdata/bin/generate_synthetic_data_sql.py
  flowdb/testdata/synthetic_data/Pipfile
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/connection.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/table.py
  flowmachine/setup.py
  flowmachine/tests/test_cache.py
  flowmachine/tests/test_cache_utils.py
  integration_tests/Pipfile.lock
Labels: FlowMachine, FlowDB, refactoring, ready-to-merge
