Repository Flowminder/FlowKit, pull requests merged in 2022-11, with the labels that each got.

#5575 Store prefect workflows within /mounts/outputs
  .circleci/config.yml
  CHANGELOG.md
  autoflow/autoflow/app.py
  autoflow/autoflow/parser/parser.py
  autoflow/autoflow/parser/workflow_schema.py
  autoflow/tests/schema_tests/test_workflow_schema.py
  autoflow/tests/test_parser.py
Labels: bug, ready-to-merge, AutoFlow

#5464 Bump deps
  .circleci/config.yml
  .github/dependabot.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  autoflow/Pipfile
  autoflow/Pipfile.lock
  deployment/Pipfile.lock
  docker-compose.yml
  docs/Pipfile
  docs/Pipfile.lock
  docs/source/administrator/deployment.md
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/setup.py
  flowapi/tests/unit/conftest.py
  flowauth/Pipfile.lock
  flowclient/Pipfile
  flowclient/Pipfile.lock
  flowdb/Pipfile
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile
  flowdb/tests/Pipfile.lock
  flowetl.Dockerfile
  flowetl/Pipfile
  flowetl/Pipfile.lock
  flowetl/deployment_example/docker-stack-flowkit.yml
  flowetl/entrypoint.sh
  flowetl/init.sh
  flowetl/tests/integration/conftest.py
  flowetl/tests/integration/test_security_setup.py
  flowetl/tests/unit/test_foreign_staging_table_operator.py
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
  secrets_quickstart/flowetl.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: dependencies

#4448 Fix error in quickstart when ss not installed #3151
  CHANGELOG.md
  quick_start.sh
Labels: bug, ready-to-merge, quick-start-script, Needs Review

#5589 Cypress upgrade
  .circleci/config.yml
  flowauth.Dockerfile
  flowauth/frontend/cypress.config.js
  flowauth/frontend/cypress.json
  flowauth/frontend/cypress/e2e/add_new_server.js
  flowauth/frontend/cypress/e2e/add_new_token.js
  flowauth/frontend/cypress/e2e/add_new_user.js
  flowauth/frontend/cypress/e2e/admin_edit_user.js
  flowauth/frontend/cypress/e2e/group_list.js
  flowauth/frontend/cypress/e2e/login_spec.js
  flowauth/frontend/cypress/e2e/logout_spec.js
  flowauth/frontend/cypress/e2e/public_key.js
  flowauth/frontend/cypress/e2e/two_factor_auth.js
  flowauth/frontend/cypress/e2e/user_details_spec.js
  flowauth/frontend/cypress/e2e/version.js
  flowauth/frontend/cypress/support/e2e.js
  flowauth/frontend/package-lock.json
  flowauth/frontend/package.json
Labels: FlowAuth, tests, javascript, CI, ready-to-merge

#4366 Update docs to recommend creating a bind mount for airflow scheduler logs
  CHANGELOG.md
  docs/source/administrator/deployment.md
  flowetl/mounts/logs/.keep
  secrets_quickstart/flowetl.yml
  secrets_quickstart/secrets-quickstart.sh
Labels: enhancement, docs, ready-to-merge, FlowETL

#4367 Fix misleading error with empty table list
  CHANGELOG.md
  flowmachine/flowmachine/features/utilities/events_tables_union.py
  flowmachine/tests/test_events_table_union.py
Labels: bug, FlowMachine, ready-to-merge, Needs Review

#5608 Bump python deps
  autoflow/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowapi/setup.py
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowetl/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies, ready-to-merge

#5630 Bump python dependencies
  autoflow/Pipfile.lock
  docs/Pipfile.lock
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowetl.Dockerfile
  flowetl/Pipfile.lock
  flowetl/tests/integration/conftest.py
  flowkit_jwt_generator/Pipfile.lock
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies

#5642 ETL views
  CHANGELOG.md
  flowdb/bin/build/0020_schema_other.sql
  flowmachine/flowmachine/core/connection.py
Labels: enhancement, FlowMachine, FlowDB, ready-to-merge, FlowETL
