Repository Flowminder/FlowKit, pull requests merged in 2023-02, with the labels that each got.

#5845 Remove deprecated --three flag to pipenv
  flowdb.Dockerfile
  flowdb_synthetic_data.Dockerfile
  flowdb_testdata.Dockerfile
Labels: ready-to-merge

#5837 Move jest to dev deps
  flowauth/frontend/package-lock.json
  flowauth/frontend/package.json
Labels: bug, FlowAuth, dependencies, ready-to-merge

#5886 Flowauth docs update
  docs/source/administrator/deployment.md
  docs/source/administrator/management/users.md
Labels: FlowAuth, docs, ready-to-merge, Needs Review

#5897 Look for COUNT instead of just first row in data_present_sensor
  CHANGELOG.md
  flowetl/flowetl/flowetl/sensors/data_present_sensor.py
Labels: bug, ready-to-merge, FlowETL
