Repository Flowminder/FlowKit, pull requests merged in 2023-04, with the labels that each got.

#6054 Don't overwrite pinned dependencies by re-installing local python packages
  .circleci/config.yml
  .github/dependabot.yml
  CHANGELOG.md
  autoflow/Pipfile.lock
  autoflow/examples/inputs/flows_report.ipynb
  deployment/Pipfile.lock
  docs/Pipfile.lock
  docs/source/analyst/worked_examples/commuting-patterns.ipynb
  docs/source/analyst/worked_examples/joined-spatial-aggregate.ipynb
  flowapi.Dockerfile
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/setup.py
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowclient/flowclient/query_specs.py
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowetl/dev-requirements.txt
  flowkit_jwt_generator/Pipfile.lock
  flowmachine.Dockerfile
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/setup.py
  flowmachine/tests/test_subscriber_imputed_distance_series.py
  flowmachine/tests/test_subscriber_interevent_gap.py
  flowmachine/tests/test_total_network_objects.py
  integration_tests/Pipfile
  integration_tests/Pipfile.lock
Labels: FlowMachine, FlowAPI, dependencies, CI, ready-to-merge

#6071 Replace docker-compose with docker compose
  CHANGELOG.md
  Makefile
Labels: dependencies, docker

#6072 Update changelog for release 1.18.4
  CHANGELOG.md
Labels: release

#6079 Remove quotes from default data path
  .circleci/config.yml
  docker-compose-syntheticdata.yml
  flowdb/testdata/bin/9900_ingest_synthetic_data.sh
  quick_start.sh
Labels: bug, FlowDB, ready-to-merge
