Repository Flowminder/FlowKit, pull requests merged in 2024-03, with the labels that each got.

#6466 Break ties in MostFrequentLocation using last event
  CHANGELOG.md
  flowmachine/flowmachine/features/subscriber/most_frequent_location.py
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_2_df.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_2_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_5_df.approved.txt
  flowmachine/tests/test_joined_aggregate.py
  flowmachine/tests/test_labelled_flows.py
  flowmachine/tests/test_redacted_labelled_spatial_aggregate.py
Labels: bug, enhancement, FlowMachine, ready-to-merge

#6465 Mock qa data
  .circleci/config.yml
  CHANGELOG.md
  development_environment
  flowdb/Pipfile.lock
  flowdb/testdata/bin/9900_ingest_synthetic_data.sh
  flowdb/testdata/bin/9900_ingest_test_data.sh
  flowdb/testdata/bin/run_qa_checks.py
  flowdb/testdata/synthetic_data/Pipfile
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile
  flowdb/testdata/test_data/Pipfile.lock
  flowdb_synthetic_data.Dockerfile
  flowdb_synthetic_data.Dockerfile.dockerignore
  flowdb_testdata.Dockerfile
  flowdb_testdata.Dockerfile.dockerignore
Labels: enhancement, FlowDB, FlowETL, Needs Review

#6266 No more before_first_request
  flowauth/backend/flowauth/main.py
Labels: bug, FlowAuth, ready-to-merge

#6470 Test qa data rename
  CHANGELOG.md
  flowdb/testdata/bin/run_qa_checks.py
Labels: FlowDB, FlowAPI, ready-to-merge, FlowETL, Needs Review
