Repository Flowminder/FlowKit, pull requests merged in 2024-07, with the labels that each got.

#6675 Parquet fdw
  CHANGELOG.md
  docker-compose-syntheticdata.yml
  flowdb.Dockerfile
  flowdb/bin/build/0010_create_extensions.sh
  flowdb/testdata/bin/9900_ingest_test_data.sh
  flowdb/testdata/bin/9920_run_convert_events_to_parquet.sh
  flowdb/testdata/synthetic_data/Pipfile
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/py/zz_convert_events_to_parquet.py
  flowdb_oracle_fdw.Dockerfile
  flowdb_synthetic_data.Dockerfile
  flowdb_synthetic_data.Dockerfile.dockerignore
  quick_start.sh
Labels: enhancement, FlowDB, ready-to-merge

#6679 Delarative partitioning
  CHANGELOG.md
  flowdb/bin/build/0020_schema_events.sql
  flowdb/testdata/bin/generate_synthetic_data.py
  flowdb/testdata/bin/generate_synthetic_data_sql.py
  flowdb/testdata/test_data/py/zz_convert_events_to_parquet.py
  flowdb/testdata/test_data/sql/ingest_calls.sql
  flowdb/testdata/test_data/sql/ingest_mds.sql
  flowdb/testdata/test_data/sql/ingest_sms.sql
  flowdb/testdata/test_data/sql/ingest_topup.sql
  flowdb/tests/test_partitioning.py
  flowdb/tests/test_roles.py
  flowetl/flowetl/flowetl/operators/add_constraints_operator.py
  flowetl/flowetl/flowetl/operators/attach_operator.py
  flowetl/tests/integration/test_full_pipeline.py
Labels: enhancement, FlowDB, ready-to-merge

#6685 Update flowetl.Dockerfile
  .circleci/config.yml
  CHANGELOG.md
  flowetl.Dockerfile
  flowetl/.airflow-version
  flowetl/.python-version
  flowetl/Makefile
  flowetl/dev-requirements.txt
  flowetl/flowetl/setup.py
  flowetl/requirements.txt
Labels: CI, ready-to-merge, FlowETL

#6687 Fix api spec
  CHANGELOG.md
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/setup.py
  flowapi/tests/unit/test_api_spec.py
  integration_tests/tests/flowapi_tests/test_api_spec.py
Labels: bug, FlowAPI, dependencies, ready-to-merge

#6696 Bump python deps and base images
  deployment/Pipfile.lock
  docs/Pipfile.lock
  examples.Dockerfile
  flowapi.Dockerfile
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowetl/dev-requirements.txt
  flowetl/requirements.txt
  flowkit_jwt_generator/Pipfile.lock
  flowmachine.Dockerfile
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies

#6715 Bump deps
  deployment/Pipfile.lock
  docs/Pipfile.lock
  examples.Dockerfile
  flowapi.Dockerfile
  flowapi/Pipfile.lock
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowetl.Dockerfile
  flowetl/.airflow-version
  flowetl/dev-requirements.txt
  flowetl/requirements.txt
  flowkit_jwt_generator/Pipfile.lock
  flowmachine.Dockerfile
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies
