Repository Flowminder/FlowKit, pull requests merged in 2024-05, with the labels that each got.

#6511 Enable partitionwise aggregation in pg config
  CHANGELOG.md
  flowdb/bin/build/pg_config_template.conf
Labels: FlowDB, ready-to-merge, performance

#6589 Update GADM download URL
  flowdb/testdata/bin/9900_ingest_synthetic_data.sh
Labels: FlowDB, dependencies, ready-to-merge

#6587 Bump deps
  deployment/Pipfile.lock
  docs/Pipfile.lock
  examples.Dockerfile
  flowapi/Pipfile
  flowapi/Pipfile.lock
  flowapi/setup.py
  flowauth/Pipfile
  flowauth/Pipfile.lock
  flowclient/Pipfile.lock
  flowdb/Pipfile
  flowdb/Pipfile.lock
  flowdb/testdata/synthetic_data/Pipfile
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/tests/Pipfile.lock
  flowkit_jwt_generator/Pipfile.lock
  flowmachine.Dockerfile
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  integration_tests/Pipfile.lock
Labels: dependencies

#6581 Deduped recieved scopes
  CHANGELOG.md
  flowapi/flowapi/permissions.py
  flowapi/tests/unit/test_permissions.py
Labels: FlowAPI, ready-to-merge

#6598 Increase index fillfactor on cache tables
  CHANGELOG.md
  flowmachine/flowmachine/core/query.py
Labels: enhancement, FlowMachine, ready-to-merge

#6621 Ignore null IMEI/IMSI in QA checks
  CHANGELOG.md
  flowetl/flowetl/flowetl/qa_checks/qa_checks/count_imeis.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/count_imsis.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/max_msisdns_per_imei.sql
  flowetl/flowetl/flowetl/qa_checks/qa_checks/max_msisdns_per_imsi.sql
Labels: bug, ready-to-merge, FlowETL
