Repository Flowminder/FlowKit, pull requests merged in 2024-02, with the labels that each got.

#6443 Release 1.21.1
  CHANGELOG.md
  flowetl/requirements.in
  flowetl/requirements.txt
Labels: dependencies, release

#6448 Fix no poke
  CHANGELOG.md
  flowetl/flowetl/flowetl/operators/create_foreign_staging_table_operator.py
  flowetl/flowetl/flowetl/sensors/n_rows_present_sensor.py
Labels: bug, ready-to-merge, FlowETL

#6461 Sqlalachemy 2
  CHANGELOG.md
  docs/Pipfile.lock
  flowapi/flowapi/config.py
  flowdb/Pipfile.lock
  flowdb/testdata/bin/generate_synthetic_data.py
  flowdb/testdata/bin/generate_synthetic_data_sql.py
  flowdb/testdata/synthetic_data/Pipfile
  flowdb/testdata/synthetic_data/Pipfile.lock
  flowdb/testdata/test_data/Pipfile
  flowdb/testdata/test_data/Pipfile.lock
  flowdb/testdata/test_data/py/zz_generate_synthetic_dfs_data.py
  flowdb/tests/Pipfile.lock
  flowkit_jwt_generator/flowkit_jwt_generator/fixtures.py
  flowkit_jwt_generator/flowkit_jwt_generator/jwt.py
  flowmachine/Pipfile
  flowmachine/Pipfile.lock
  flowmachine/flowmachine/core/cache.py
  flowmachine/flowmachine/core/connection.py
  flowmachine/flowmachine/core/query.py
  flowmachine/flowmachine/core/sqlalchemy_utils.py
  flowmachine/flowmachine/core/table.py
  flowmachine/flowmachine/features/utilities/event_table_subset.py
  flowmachine/setup.py
  flowmachine/tests/conftest.py
  flowmachine/tests/test_cache_utils.py
  flowmachine/tests/test_class_database.py
  flowmachine/tests/test_subscriber_subsetting.py
  flowmachine/tests/test_to_sql.py
  integration_tests/Pipfile.lock
  integration_tests/tests/flowmachine_server_tests/helpers.py
  integration_tests/tests/flowmachine_server_tests/test_action_run_query.py
Labels: bug, FlowMachine, FlowDB, dependencies, ready-to-merge, flowkit-jwt-generator

#6464 Unpin examples from old jupyter
  examples.Dockerfile
Labels: bug, docker, worked_examples
