Repository Flowminder/FlowKit, pull requests merged in 2024-06, with the labels that each got.

#6622 Use 'SELECT DISTINCT ON' in LastLocation
  flowmachine/flowmachine/features/subscriber/last_location.py
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_1_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_3_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_4_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_5_sql.approved.txt
  flowmachine/tests/functional_tests/approved_files/test_sql_strings_and_results.test_daily_location_6_sql.approved.txt
  integration_tests/tests/flowmachine_tests/approved_files/test_daily_location_results.test_daily_location_1_sql.approved.txt
Labels: FlowMachine, refactoring, ready-to-merge, performance

#6599 Autoanalyze cache tables
  CHANGELOG.md
  flowmachine/flowmachine/core/cache.py
Labels: enhancement, FlowMachine, ready-to-merge, performance

#6652 Fix slow displacement test
  flowmachine/tests/test_displacement.py
Labels: tests, FlowMachine, ready-to-merge, performance

#6627 Add invalid_cell_info table and change exclude constraint on cell_info
  CHANGELOG.md
  flowdb/bin/build/0020_schema_infrastructure.sql
Labels: FlowDB, refactoring, ready-to-merge

#6600 Json logs
  .circleci/config.yml
  CHANGELOG.md
  docs/source/administrator/deployment.md
  flowdb.Dockerfile
  flowdb/bin/build/configurate.py
  flowdb/bin/build/pg_config_template.conf
Labels: enhancement, FlowDB, ready-to-merge

#6601 Allow specifying auto config path
  CHANGELOG.md
  docs/source/administrator/deployment.md
  flowdb.Dockerfile
  flowdb/bin/build/0010_tweak_config.sh
  flowdb/bin/build/configurate.py
Labels: enhancement, FlowDB, ready-to-merge

#6660 Update CHANGELOG.md
  CHANGELOG.md
Labels: ready-to-merge
